.about-prices {
  @extend %flexColumn;
  @include showDesc();

  &__header {
    width: 100%;
    @extend %flexCenterBetween;
    column-gap: 3rem;
    border-radius: 3rem;
    padding: 3rem;
    background: rgba(239, 247, 255, 0.84);

    div {
      @extend %textH3;
      width: 52rem;
      flex-shrink: 0;
    }
  }

  &__item {
    width: 100%;
    @extend %flexCenterBetween;
    padding: 2.8rem 3rem;
    border-bottom: 1.4px solid $lightGrey;

    div {
      @extend %textRegular20;
      width: 52rem;
      flex-shrink: 0;

      &:nth-child(4) {
        @extend %textH3;
        span {
          &:first-child {
            font-size: 1.5rem;
          }
          &:last-child {
            color: $grey;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .about-prices {
    @include showMob();

    &__header {
      display: none;
    }

    &__item {
      flex-direction: column;
      padding: 4rem 0;

      div {
        @extend %textRegular20;
        width: 100%;
        flex-shrink: 1;

        &:nth-child(2) {
          font-size: 3.2rem;
          font-weight: 700;
        }

        &:nth-child(4) {
          font-size: 3.2rem;
          font-weight: 700;

          span {
            &:first-child {
              font-size: 2.4rem;
            }
            &:last-child {
              color: $grey;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }
}
