@import './board-navigation.scss';
@import './info.scss';
@import './about-info.scss';
@import './about-facilities.scss';
@import './about-prices.scss';
@import './about-questions.scss';
@import './about-reviews.scss';
