.info {
  margin-top: 3.4rem;

  &__container {
    @extend %flexColumn;
    row-gap: 5.2rem;
  }

  &__content-block {
    display: none;
    &.active {
      display: block;
    }
  }

  &__btns {
    @extend %flexCenterStart;
    column-gap: 1.2rem;
    margin-top: 2rem;

    .btn-primary {
      background: $lightGrey;
      border: none;
      padding: 1rem 3rem;
      width: fit-content;
      height: 6.8rem;

      span {
        @extend %textRegular18;
        color: $black;
      }

      &:hover,
      &.active {
        background: $blue;
        transition: $transition;

        span {
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .info {
    margin-top: 8rem;

    .container {
      padding: 0;
    }

    &__container {
      row-gap: 4rem;
    }

    &__btns {
      overflow: scroll;
      column-gap: 0.8rem;
      margin-top: 0;
      padding: 0 3.2em;

      &::-webkit-scrollbar {
        display: none;
      }

      .btn-primary {
        padding: 3rem 4rem;
        height: 8rem;

        span {
          font-size: 3rem;
          line-height: 120%;
        }
      }
    }

    &__content {
      padding: 0 3.2rem;
    }
  }
}
