.favorites {
  margin: 1rem 0 17rem 0;

  &__empty-msg {
    @extend %textBold24;
    color: $grey;
  }

  &__content {
    margin-top: 5rem;
  }

  &__cards {
    @extend %flexCenterStart;
    row-gap: 2.9rem;
    column-gap: 2.9rem;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 48em) {
  .favorites {
    margin: 6.4rem 0 18rem 0;

    &__content {
      margin-top: 5.4rem;
    }

    &__cards {
      row-gap: 3.2rem;
    }

    .card:not(:nth-child(-n + 3)) {
      display: block;
    }
  }
}
