.favorites {
  margin-bottom: 17rem;

  &__empty-msg {
    @extend %textBold24;
    color: $grey;
  }

  &__content {
    margin-top: 5rem;
  }

  &__cards {
    @extend %flexCenterStart;
    row-gap: 2.9rem;
    column-gap: 2.9rem;
    flex-wrap: wrap;
  }

  .card__items-shadow {
    position: absolute;
  }

  .card-slider {
    z-index: auto;
  }
}

@media screen and (max-width: 48em) {
  .favorites {
    margin-bottom: 18rem;

    &-page {
      margin-top: 11.4rem;
    }

    &__content {
      margin-top: 5.4rem;
    }

    &__cards {
      row-gap: 3.2rem;
    }

    .card:not(:nth-child(-n + 3)) {
      display: block;
    }
  }
}
