.about {
  margin-bottom: 17rem;

  &__container {
    display: flex;
    margin-top: 5rem;
  }

  &__picture {
    flex-shrink: 0;
    display: flex;
    position: relative;
  }

  &__capas {
    position: absolute;
    z-index: -2;

    &:first-child {
      top: -1.3rem;
      right: -22rem;
    }

    &:last-child {
      bottom: -5rem;
      right: 16rem;
    }
  }

  &__img {
    @include sizes(71rem, 40rem);
    border-radius: 3rem;
  }

  &__capas {
    @include sizes(33.3rem, 14rem);
  }

  &__desc {
    @include sizes(112.3rem, 34.8rem);
    border-radius: 4rem;
    flex-shrink: 0;
    background: $lightGrey;
    backdrop-filter: blur(1.9rem);
    padding: 9rem 9rem 9rem 22.3rem;
    position: relative;
    left: -13rem;
    z-index: -2;
    margin-top: 11.2rem;

    p {
      @extend %textRegular18;
      color: $grey;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .about {
    margin-bottom: 16rem;

    &__container {
      flex-direction: column;
      margin-top: 5.4rem;
    }

    &__capas {
      @include sizes(24rem, 14rem);

      &:first-child {
        right: -1rem;
        top: -10rem;
      }

      &:last-child {
        display: none;
      }
    }

    &__img {
      @include sizes(60rem, 38.4rem);
      border-radius: 4.8rem;

      img {
        height: 100%;
      }
    }

    &__capas {
      @include sizes(33.3rem, 14rem);
    }

    &__desc {
      @include sizes(60rem, 70.4rem);
      border-radius: 4.8rem;
      backdrop-filter: blur(3.8rem);
      padding: 8.8rem 4rem 4rem 4rem;
      margin-top: -4.8rem;
      right: -8rem;
      left: auto;

      p {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
      }
    }
  }
}
