.offers {
  margin-top: 17rem;

  &__container {
    @extend %flexCenterStart;
    column-gap: 15.7rem;
  }

  &__title {
    @extend %textH1;
    margin-bottom: 2rem;
  }

  &__desc {
    width: 79.7rem;
    flex-shrink: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.2rem;
    }
    @extend %flexCenterStart;
    column-gap: 1.6rem;
  }

  &__item-circle {
    @include sizes(4.4rem, 4.4rem);
    @extend %flexCenter;
    background-color: $blue;
    border-radius: 50%;

    img {
      @include sizes(2.4rem, 2.4rem);
    }
  }

  &__item-txt {
    @extend %textRegular18;
    color: $grey;
  }

  &__picture {
    position: relative;
    flex-shrink: 0;
  }

  &__plush {
    @extend %flexColumn;
    width: fit-content;
    padding: 2.8rem 5rem;
    border-radius: 2rem;
    background: $white;
    box-shadow: -0.8rem 1.6rem 4rem 0 rgba(76, 98, 187, 0.2);
    position: absolute;

    &:first-child {
      top: 4rem;
      left: -9rem;
    }

    &:last-child {
      bottom: 4rem;
      right: -9rem;
    }
  }

  &__plush-tit {
    @extend %textH3;
  }

  &__plush-txt {
    @extend %textRegular20;
  }

  &__img {
    @include sizes(65.7rem, 46.5rem);
    border-radius: 3rem;
  }
}

@media screen and (max-width: 48em) {
  .offers {
    margin-top: 16rem;

    &__container {
      flex-direction: column;
      row-gap: 10rem;
    }

    &__title {
      margin-bottom: 5.4rem;
    }

    &__desc {
      width: 100%;
    }

    &__item {
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 4.4rem;
      }

      column-gap: 2.4rem;
    }

    &__item-circle {
      flex-shrink: 0;
      @include sizes(6rem, 6rem);

      img {
        @include sizes(4.8rem, 4.8rem);
      }
    }

    &__plush {
      padding: 3.2rem;
      border-radius: 4rem;
      box-shadow: -1.6rem 3.2rem 8rem 0 rgba(76, 98, 187, 0.2);

      &:first-child {
        top: -4rem;
        left: -3.2rem;
      }

      &:last-child {
        bottom: -4rem;
        right: -3.2rem;
      }
    }

    &__plush-tit {
      font-size: 3.2rem;
    }

    &__plush-txt {
      font-size: 2.8rem;
      line-height: 130%;
    }

    &__img {
      @include sizes(62.2rem, 44.6rem);
      border-radius: 6rem;
    }
  }
}
