.catalog {
  @include showDesc();

  .title {
    margin-bottom: 5rem;
  }

  .card-slider {
    z-index: 0;
  }

  &__container {
    display: flex;
    column-gap: 3rem;
  }

  &__form {
    width: 40.2rem;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
  }

  &__find {
    width: 126.5rem;
    position: relative;
    .btn-secondary {
      margin: 4rem auto 0 auto;
      display: block;
      width: fit-content;
      padding: 2rem 6rem;
    }

    .cards {
      margin-top: 3.2rem;
    }
  }

  &-question {
    margin-bottom: 3rem;
    width: 126.5rem;
  }

  &-question__container {
    display: flex;
    align-items: center;
    column-gap: 3.4rem;
    border-radius: 3rem;
    position: relative;
    background: rgba(182, 194, 207, 0.15);
    backdrop-filter: blur(2rem);

    &::after {
      content: '';
      background-image: url(../img/bg/baner-bg-2.png);
      position: absolute;
      background-size: cover;
      left: 0;
      top: 0;
      border-radius: 3rem;
      z-index: -2;
      @extend %fullSize;
    }

    .btn-primary {
      margin: 0 auto;
    }
  }

  &-question__title {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 105%;
    margin-bottom: 2rem;
  }

  &-question__desc {
    width: 50.2rem;
    @extend %flexColumn;
    align-items: center;
  }

  &-question__txt {
    @extend %textRegular18;
    text-align: center;
    margin-bottom: 3rem;
  }

  &-question__bg {
    @include sizes(67%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      border-radius: 3rem;
      height: 100%;
    }
  }

  &-question__img {
    @include sizes(51.9rem, 35.4rem);
  }

  @media screen and (min-width: 48em) {
    &__sear {
      position: sticky;
      top: 0;
      z-index: 3;
      transition:
        background 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

      &.scroll {
        width: 108.5%;
        margin-left: -1rem;
        padding: 1rem;
        border-radius: 0 0 3rem 3rem;
        background: $white;
        box-shadow: 0.5rem 1.5rem 7rem 0 $lightGrey;

        .catalog__item-shadow {
          right: 0;
        }
      }
    }
  }

  &__items {
    width: 126.5rem;
    @extend %flexCenterBetween;
    column-gap: 1.6rem;
    padding-right: 2rem;
  }

  &__item {
    user-select: none;
    border-radius: 7.8rem;
    background: $lightGrey;
    backdrop-filter: blur(2.3rem);
    flex-shrink: 0;
    width: fit-content;
    padding: 0.8rem 1.6rem;
    @extend %textRegular18;
  }

  &__item-shadow {
    @include sizes(18.4rem, 4rem);
    position: absolute;
    right: -10rem;
    z-index: 2;
  }

  &__top {
    width: 126.5rem;
    @extend %flexCenterBetween;
    column-gap: 2.5rem;
    margin-bottom: 2rem;
  }

  &__top-map {
    background-color: $lightGrey;
    border-color: $lightGrey;
  }

  .select-baner .select__header {
    background-color: $lightGrey;
  }

  &__top-right {
    @extend %flexCenterBetween;
    column-gap: 2.5rem;
    flex-shrink: 0;
  }

  &__search-icon {
    @include sizes(2rem, 2rem);

    margin: 0;
    padding: 0;

    &:first-child {
      opacity: 1px;
      display: block;
      position: absolute;
      z-index: 2;
      transition: opacity 0.3s ease-in-out;
    }

    &:last-child {
      opacity: 0;
    }
  }

  &__search-reset {
    cursor: pointer;
    z-index: 4;
    position: relative;
  }

  &__search {
    @extend %flexCenterBetween;
    width: 100%;
    position: relative;

    .input {
      background-color: $lightGrey;
      width: 100%;

      input {
        width: 79.6rem;
        background-color: $lightGrey;
      }
    }

    &.active {
      .catalog__search-icon {
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }

      .search {
        opacity: 1;
        z-index: 4;
        visibility: visible;
      }
    }
  }

  &__fieldset {
    border-radius: 3rem;
    background: $white;
    box-shadow: 0.5rem 1.5rem 7rem 0 $lightGrey;
    padding: 4rem;
    margin-bottom: 2rem;
  }

  &__yet {
    @extend %textBold20;
    color: $orange;
  }

  &__fieldset-top {
    @extend %flexCenterBetween;
    margin-bottom: 1.6rem;
  }

  &__fieldset-title {
    @extend %textBold20;
  }

  &__fieldset-reset {
    @extend %textRegular15;
    color: $orange;
  }

  &__fieldset-yet {
    @extend %textBold18;
  }

  .select-sort {
    width: 25.7rem;
  }

  .select__header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 48em) {
  .catalog {
    @include showMob();

    &-page {
      margin-top: 11.4rem;
    }

    .card {
      &:nth-child(n) {
        display: block;
      }
      &:not(:nth-child(-n + 7)) {
        display: none;
      }
    }

    .container {
      padding: 0;
    }

    .title {
      padding: 0 3.2rem;
    }

    &__container {
      flex-direction: column;
    }

    &__find {
      .cards {
        margin-top: 4.2rem;
        padding: 0 3.2rem;
      }
    }

    .card {
      &:not(:last-child) {
        margin-bottom: 3.2rem;
      }
    }

    .select__value {
      flex-shrink: 0;
    }

    &__find {
      width: 100%;
      .btn-secondary {
        margin: 6rem auto 0 auto;
        display: block;
        width: fit-content;
        padding: 2.6rem 12rem;
      }
    }

    &-question {
      margin-bottom: 3.2rem;
      width: 100%;
    }

    &-question__img {
      @include sizes(52.2rem, 43rem);
      position: relative;
      right: -6rem;
      img {
        object-fit: cover;
        height: 100%;
      }
    }

    &-question__container {
      flex-direction: column-reverse;
      border-radius: 6rem;
      padding: 12rem 2.4rem 0 2.4rem;

      &::after {
        border-radius: 6rem;
      }
    }

    &-question__title {
      font-size: 4.8rem;
      margin-bottom: 2.4rem;
    }

    &-question__desc {
      width: 100%;
    }

    &-question__txt {
      margin-bottom: 4rem;
    }

    &-question__bg {
      top: auto;
      bottom: 0;
      width: 100%;
      height: auto;
    }

    &__search {
      .input {
        padding: 2.2rem 4rem;
        margin-bottom: 2rem;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
          width: 48rem;
        }
      }
    }

    &__search-icon {
      @include sizes(3.2rem, 3.2rem);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__top {
      flex-direction: column;
      width: 100%;
      padding: 0 3.2rem;
      margin-bottom: 3.2rem;
    }

    &__items {
      column-gap: 2.2rem;
      width: 100%;
      padding: 0 3.2rem;
    }

    &__item-shadow {
      display: none;
    }

    &__item {
      padding: 1.6rem 3.2rem;
      border-radius: 15.6rem;
      font-size: 2.4rem;
    }

    .select-sort {
      width: 38rem;
    }

    &__top-right {
      width: 100%;
    }

    &__top-map {
      border: 0;
    }

    &__top-btns {
      display: flex;
      column-gap: 2.2rem;
    }

    &__form {
      display: flex;
      overflow: scroll;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 4;
      padding: 3.4rem 0 5.6rem;
      flex-direction: column;
      justify-content: flex-start;
      transition: translateX 0.3s ease-in-out;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      &.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }

    &__form-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5.6rem;
      padding: 0 3.2rem;
    }

    &__form-title {
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 105%;
    }

    &__form-close {
      @include sizes(8.8rem, 8.8rem);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $lightGrey;

      img {
        @include sizes(4rem, 4rem);
      }
    }

    &__fieldset {
      box-shadow: none;
      background: none;
      border-radius: 0;
      padding: 0;
      margin-bottom: 0;
      &:not(:first-child) {
        margin-top: 8rem;
      }
    }

    &__fieldset-top {
      margin-bottom: 3.2rem;
    }

    &__form {
      form {
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0 3.2rem;
        @include noScrollLine();
      }
    }

    &__form-items {
      margin-bottom: 6rem;
      display: flex;
      align-items: center;
      column-gap: 1.6rem;
      padding: 0 3.2rem;
      overflow-x: scroll;
      @include noScrollLine();
    }

    &__form-item {
      padding: 1.2rem 2rem;
      width: fit-content;
      height: 6.2rem;
      display: flex;
      align-items: center;
      background-color: $lightGrey;
      border-radius: 1.6rem;
      column-gap: 1.6rem;
      flex-shrink: 0;

      span {
        font-size: 3rem;
        font-weight: 400;
        line-height: 120%;
      }

      img {
        @include sizes(3rem, 3rem);
      }
    }

    &__form-btns {
      padding: 0 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__form-panel {
      flex-direction: column;
      margin-top: 6rem;
    }

    &__header {
      border-radius: 4rem;
      background: rgba(182, 194, 207, 0.15);
      box-shadow: -0.1rem 0 1rem 0 rgba(76, 98, 187, 0.17);
      backdrop-filter: blur(1.9rem);
      padding: 2.4rem 3.2rem;
      position: fixed;
      width: 100%;
      top: 0;
      flex-direction: column;
      transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      display: none;

      &.scroll {
        display: none;
        opacity: 1;
        z-index: 4;
        visibility: visible;
      }
    }

    &__header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1.2rem;
      margin-bottom: 3.2rem;

      .btn-round {
        flex-shrink: 0;
        background-color: $blue;
        border-color: $blue;
      }
    }

    &__header-top-input {
      flex-direction: row-reverse;
      justify-content: flex-end;
      column-gap: 2rem;

      input {
        width: 44rem;
      }
    }

    &__header-top-icons {
      @include sizes(4rem, 4rem);
    }

    &__header-top-icon {
      width: 4rem;
      height: 4rem;

      &:first-child {
        opacity: 1;
        display: block;
        position: absolute;
        z-index: 2;
        transition: opacity 0.3s ease-in-out;
      }

      &:last-child {
        opacity: 0;
      }
    }

    &__header-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__header-bottom-btn {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;

      span {
        display: block;
      }
    }

    &__header-bottom-icon {
      @include sizes(4.8rem, 4.8rem);
    }

    .select-sort {
      &.active .select__content {
        top: 0;
      }

      .select__content {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: -110%;
        width: 100%;
        height: 100%;
        background: $white;
        z-index: 6;
        opacity: 1;
        visibility: visible;
        background: rgba(194, 199, 200, 0.79);
        backdrop-filter: blur(1rem);
        transition: top 0.3s ease-in-out;

        &.active {
          top: 0;
        }

        .select__items {
          border-radius: 4rem 4rem 0 0;
          background: $white;
          height: fit-content;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 6rem;
        }

        .select__item {
          &:hover {
            background-color: transparent;
          }

          label {
            display: flex;
            align-items: center;
            column-gap: 2.4rem;
            position: relative;
            font-size: 3rem;
            font-weight: 400;
            line-height: 120%;
            padding: 2rem 2rem 2rem 0;
            color: $black !important;

            &::before {
              @include sizes(4.8rem, 4.8rem);
              flex-shrink: 0;
              content: '';
              border-radius: 1rem;
              display: inline-block;
              position: relative;
              left: 0;
              background-size: cover;
              background: url('@img/icons/icons.svg#checkbox') no-repeat center;
            }
          }

          input[type='radio'] {
            @include sizes(0, 0);
            position: absolute;
            z-index: -1;
            opacity: 0;
            display: block;
          }

          input[type='radio']:checked + label:before {
            background-position: 50% 50%;
            background-size: 2.4rem 2.4rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('@img/icons/icons.svg#checkbox-active');
          }
        }
      }

      .select-sort {
        input {
          &:checked + label {
            color: $black;
          }
        }
      }
    }

    &__header-bottom-txt {
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 130%;
    }
  }
}
