@media screen and (max-width: 48em) {
  .catalog-page {
    .select-sort {
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: -110%;
      width: 100%;
      height: 100vh;
      border-radius: 0;
      // background: $white;
      z-index: 6;
      opacity: 1;
      visibility: visible;
      transition: top 0.3s ease-in-out;

      &.active {
        top: 0;
      }

      .select__content {
        opacity: 1;
        visibility: visible;
        background: rgba(194, 199, 200, 0.79);
        backdrop-filter: blur(1rem);
        height: 100%;
        width: 100%;
        top: 0;
      }

      .select__items {
        border-radius: 4rem 4rem 0 0;
        background: $white;
        height: fit-content;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 6rem;
      }

      .select__item {
        &:hover {
          background-color: transparent;
        }

        label {
          display: flex;
          align-items: center;
          column-gap: 2.4rem;
          position: relative;
          font-size: 3rem;
          font-weight: 400;
          line-height: 120%;
          padding: 2rem 2rem 2rem 0;
          color: $black !important;

          &::before {
            @include sizes(4.8rem, 4.8rem);
            flex-shrink: 0;
            content: '';
            border-radius: 1rem;
            display: inline-block;
            position: relative;
            left: 0;
            background-size: cover;
            background: url('@img/icons/icons.svg#checkbox') no-repeat center;
          }
        }

        input[type='radio'] {
          @include sizes(0, 0);
          position: absolute;
          z-index: -1;
          opacity: 0;
          display: block;
        }

        input[type='radio']:checked + label:before {
          background-position: 50% 50%;
          background-size: 2.4rem 2.4rem;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('@img/icons/icons.svg#checkbox-active');
        }
      }

      .select-sort {
        input {
          &:checked + label {
            color: $black;
          }
        }
      }
    }
  }
}
