.add {
  margin-bottom: 17rem;

  &__wrapper {
    background: url('@img/bg/add-bg.png') no-repeat center;
    border-radius: 3rem;
    background-size: cover;
    @include sizes(170rem, 73.1rem);
    margin-top: 5rem;
    padding: 8rem;
  }

  &__form-inputs {
    @extend %flexColumn;
    row-gap: 0.9rem;
    width: 69rem;
    margin-bottom: 3rem;

    .textarea {
      height: 15.2rem;

      textarea {
        height: 100%;
      }
    }

    .input,
    .textarea {
      justify-content: flex-start;

      input {
        width: 94%;
      }

      textarea,
      textarea::placeholder,
      input,
      input::placeholder {
        @extend %textBold20;
      }
    }
  }

  &__form-btns {
    @extend %flexCenterStart;
    column-gap: 1.6rem;

    .btn-primary {
      width: 33.4rem;
    }
  }
}

@media screen and (max-width: 48em) {
  .add {
    margin-bottom: 18rem;

    &-page {
      margin-top: 11.4rem;
    }

    &__wrapper {
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 0;
      margin-top: 5.8rem;
      padding: 0;
    }

    &__form-inputs {
      row-gap: 2rem;
      width: 100%;
      margin-bottom: 6rem;

      .icon {
        @include sizes(4.8rem, 4.8rem);

        img {
          @include sizes(4.8rem, 4.8rem);
        }
      }

      .textarea {
        height: 24rem;
      }

      .input {
        padding: 3.4rem 4rem;
      }

      .textarea {
        padding: 4.2rem 4rem;
      }

      .input,
      .textarea {
        background-color: $lightGrey;

        textarea,
        textarea::placeholder,
        input,
        input::placeholder {
          font-size: 2.8rem;
          background-color: $lightGrey;
        }
      }
    }

    &__form-btns {
      column-gap: 2.4rem;

      .btn-primary {
        width: 44rem;
      }

      .btn-round {
        @include sizes(9.6rem, 9.6rem);

        img {
          @include sizes(4rem, 4rem);
        }
      }
    }
  }
}
