.btn {
  @extend %flexCenter;
  border-radius: 10rem;
  border: 0.14rem solid $blue;
  backdrop-filter: blur(1.5rem);
  text-align: center;

  span {
    @extend %textBold20;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    @extend %hover;
  }
}

.btn-primary,
.btn-primary-sm {
  color: $white;
  border-color: $blue;
  padding: 2rem 6rem;
  background: $gradientBlue;

  &:disabled {
    background: $blue;
  }

  &:not(:disabled):hover {
    background: $blue;
    transition: $transition;
  }
}

.btn-primary {
  height: 7rem;
}

.btn-primary-sm {
  height: 4.8rem;
}

.btn-secondary {
  border-color: $orange;
  color: $orange;
  background: $white;

  &:not(:disabled):hover {
    background: $orange;
    span {
      color: $white;
    }
  }
}

.btn-tertiary {
  padding: 0.7rem 0.4rem;
  column-gap: 1.2rem;
  border: none;
  background: none;
  backdrop-filter: none;

  &:not(:disabled):hover {
    span {
      @extend %hover;
      color: $orange;
    }
    svg {
      path {
        @extend %hover;
        stroke: $orange;
      }
    }
  }
}

.btn-round {
  @include sizes(7rem, 7rem);
  border-radius: 50%;
  background: $orange;
  border-color: $orange;

  img {
    @include sizes(2.4rem, 2.4rem);
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }
}

//------------------Mob-------------------//
@media screen and (max-width: 48em) {
  .btn {
    border-radius: 20rem;
    border: 0.3rem solid $blue;
    backdrop-filter: blur(2.8rem);

    span {
      line-height: 130%;
    }
  }

  .btn-primary,
  .btn-primary-sm {
    color: $white;
    border-color: $blue;
    padding: 2.5rem 11rem;
    width: 40.4rem;
    background: $gradientBlue;

    &:disabled {
      background: $blue;
    }

    &:not(:disabled):hover {
      background: $blue;
      transition: $transition;
    }
  }

  .btn-primary,
  .btn-primary-sm {
    height: auto;
  }

  .btn-secondary {
    border-color: $orange;
    color: $orange;
    background: $white;

    &:not(:disabled):hover {
      background: $orange;

      span {
        color: $white;
      }
    }
  }

  .btn-tertiary {
    column-gap: 1.6rem;
    border: none;
    background: none;
    padding: 0;
    backdrop-filter: none;

    svg {
      @include sizes(4.8rem, 4.8rem);
    }
  }

  .btn-round {
    @include sizes(8.8rem, 8.8rem);
    border-color: $orange;

    img {
      @include sizes(3.6rem, 3.6rem);
    }
  }
}

._icon-x24Medcine::before {
  color: red;
}
