.btn {
  @extend %flexCenter;
  border-radius: 10rem;
  border: 0.14rem solid $blue;
  backdrop-filter: blur(1.5rem);
  text-align: center;

  span {
    @extend %textBold20;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    @extend %hover;
  }
}

.btn-primary,
.btn-primary-sm {
  color: $white;
  border-color: $blue;
  padding: 2rem 6rem;
  background: $gradientBlue;

  &:disabled {
    background: $blue;
  }

  &:not(:disabled):hover {
    background: $blue;
    transition: $transition;
  }
}

.btn-primary {
  height: 7rem;
}

.btn-primary-sm {
  height: 4.8rem;
}

.btn-secondary {
  border-color: $orange;
  color: $orange;
  background: $white;

  &:not(:disabled):hover {
    background: $orange;
    span {
      color: $white;
    }
  }
}

.btn-tertiary {
  padding: 0.7rem 0.4rem;
  column-gap: 1.2rem;
  border: none;
  background: none;
  backdrop-filter: none;

  &:not(:disabled):hover {
    span {
      @extend %hover;
      color: $orange;
    }
    svg {
      path {
        @extend %hover;
        stroke: $orange;
      }
    }
  }
}

.btn-round {
  @include sizes(7rem, 7rem);
  border-radius: 50%;
  background: $orange;
  border-color: $orange;

  img {
    @include sizes(2.4rem, 2.4rem);
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }
}

//------------------Mob-------------------//
@media screen and (max-width: 48em) {
  .btn {
    border-radius: 26.6vw;
    border: 0.4vw solid $blue;
    backdrop-filter: blur(3.75vw);

    span {
      font-size: 4vw;
    }
  }

  .btn-primary,
  .btn-primary-sm {
    color: $white;
    border-color: $blue;
    padding: 3.4vw 12vw;
    background: $gradientBlue;

    &:disabled {
      background: $blue;
    }

    &:not(:disabled):hover {
      background: $blue;
      transition: $transition;
    }
  }

  .btn-primary,
  .btn-primary-sm {
    height: auto;
  }

  .btn-secondary {
    border-color: $orange;
    color: $orange;
    background: $white;

    &:not(:disabled):hover {
      background: $orange;

      span {
        color: $white;
      }
    }
  }

  .btn-tertiary {
    column-gap: 2.2vw;
    border: none;
    background: none;
    padding: 0.8vw 0.9vw;
    backdrop-filter: none;

    svg {
      @include sizes(6.4vw, 6.4vw);
    }
  }

  .btn-round {
    @include sizes(11.8vw, 11.8vw);
    border-color: $orange;

    img {
      @include sizes(4.8vw, 4.8vw);
    }
  }
}
