.footer {
  @include showDesc();
  border-radius: 4rem 4rem 0 0;
  background: $lightGrey;
  backdrop-filter: blur(2rem);

  &__container {
    @extend %flexCenterBetween;
    padding: 8.6rem 0;
  }

  &__left {
    @extend %flexColumn;
  }

  &__menu {
    display: flex;
    column-gap: 12rem;
  }

  &__items {
    @extend %flexColumn;
    row-gap: 1.5rem;
  }

  &__item {
    width: fit-content;
  }

  &__link {
    @extend %textRegular18;
    color: $grey;

    &:hover {
      @extend %hover;
      color: $black;
    }
  }

  .btn-tertiary {
    margin: 3rem 0 6rem 0;
  }

  &__phones {
    @extend %flexColumn;
    align-items: flex-end;
    flex-direction: column-reverse;

    .phones__phone-numbers {
      text-align: start;
    }
  }
}

//--------------Mob----------------------
@media screen and (max-width: 48em) {
  .footer {
    @include showMob();
    border-radius: 5.3vw 5.3vw 0 0;

    &__container {
      flex-direction: column;
    }

    &__container {
      padding: 9.6vw 0;
    }

    &__menu {
      column-gap: 8.5vw;
    }

    &__items {
      row-gap: 3.2vw;
    }

    &__link {
      font-size: 3.75vw;
      line-height: 130%;
    }

    .btn-tertiary {
      margin: 0;
      position: absolute;
      bottom: 28.6vw;
    }

    &__left {
      .footer__link {
        display: none;
      }
    }

    &__logo {
      margin-bottom: 6.4vw;
    }

    &__phones {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-top: 7.5vw;
    }
  }
}
