.footer {
  @include showDesc();
  border-radius: 4rem 4rem 0 0;
  background: $lightGrey;
  backdrop-filter: blur(2rem);

  &__container {
    @extend %flexCenterBetween;
    padding: 8.6rem 0;
  }

  &__left {
    @extend %flexColumn;
  }

  &__menu {
    display: flex;
    column-gap: 12rem;
  }

  &__items {
    @extend %flexColumn;
    row-gap: 1.5rem;
  }

  &__item {
    width: fit-content;
  }

  &__link {
    @extend %textRegular18;
    color: $grey;

    &:hover {
      @extend %hover;
      color: $black;
    }
  }

  .btn-tertiary {
    margin: 3rem 0 6rem 0;
  }

  &__phones {
    @extend %flexColumn;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin-top: -2rem;

    .phones__phone-numbers {
      text-align: start;
    }
  }
}

//--------------Mob----------------------
@media screen and (max-width: 48em) {
  .footer {
    @include showMob();
    border-radius: 4rem 4rem 0 0;

    &__container {
      flex-direction: column;
      padding: 7.2rem 0;
    }

    &__menu {
      column-gap: 7.4rem;
    }

    &__items {
      row-gap: 2.4rem;
      width: 39%;
    }

    &__left {
      margin: 0 auto 0 0;
      .footer__link {
        display: none;
      }
    }

    &__logo {
      margin-bottom: 4.8rem;
    }

    &__phones {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-top: 4.6rem;
    }

    .btn-tertiary {
      margin: 0;
      position: absolute;
      bottom: 22rem;
      left: 3.2rem;
      padding: 0 1rem;
    }
  }
}
