.header {
  position: relative;
  @include showDesc();

  &__container {
    @extend %flexCenterBetween;
    padding: 3rem 0;
    column-gap: 6rem;
    position: relative;
    z-index: 4;
    justify-content: flex-start;
  }

  &__panel {
    @extend %flexCenterBetween;
    column-gap: 8rem;
  }

  &__list {
    @extend %flexCenter;
    column-gap: 3rem;
    flex-wrap: wrap;
  }

  &__link {
    @extend %textBold18;

    &:hover {
      transition: color 0.3s ease-in-out;
      color: $blue;
    }
  }

  &__menu {
    flex-shrink: 0;
  }

  &__phones {
    @extend %flexCenter;
    flex-wrap: wrap;
  }

  &__region {
    @extend %flexCenter;
    width: 33rem;

    .select__content {
      width: 24rem;
    }

    .select__items {
      width: 100%;
    }
  }

  &__region-title {
    @extend %textRegular18;
    margin-right: 1.2rem;
    flex-shrink: 0;
  }

  .select.active .select__header {
    border: 0;
  }

  .select__header {
    border: 0;
  }
}

//----------------Mob----------------
@media screen and (max-width: 48em) {
  .header {
    @include showMob();
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    transition: background-color 0.3s easy-in-out;

    &.scroll {
      background-color: $white;
    }

    &__container {
      padding: 2.4rem 0;
      justify-content: space-between;
    }

    &__panel {
      @include sizes(78%, 100%);
      border-radius: 0 2rem 2rem 0;
      background: $white;
      position: fixed;
      left: 0;
      bottom: 0;
      transition: translateX 0.3s ease-in-out;
      transform: translateX(-100%);
      z-index: -1;
      flex-direction: column;
      padding: 4rem 3.2rem;
      justify-content: flex-start;
      align-items: flex-start;

      &.active {
        z-index: 4;
        transform: translateX(0);
      }

      .header__logo {
        margin-bottom: 4rem;
      }

      .header__region {
        margin-bottom: 4.8rem;
      }

      .header__menu {
        margin-bottom: 5.6rem;
      }

      .header__socials {
        display: flex;
        column-gap: 3.2rem;

        .btn-round {
          background: rgba(182, 194, 207, 0.15);
          border-color: transparent;
          @include sizes(9.6rem, 9.6rem);

          img {
            @include sizes(4.8rem, 4.8rem);
          }
        }
      }

      .select__content {
        top: 6rem;
        right: 1rem;
        width: 100%;
      }

      .select__value {
        flex-shrink: 0;
      }

      .select__header {
        justify-content: flex-start;
      }

      .phones {
        flex-direction: column-reverse;
        row-gap: 4rem;
        align-items: flex-start;
        margin-bottom: 4rem;

        &__phone {
          flex-direction: row-reverse;
          column-gap: 1.6rem;
        }

        &__phone-numbers {
          padding: 0;
        }

        &__phone-numbers div:last-child {
          text-align: start;
        }
      }

      .btn-primary {
        width: 52rem;
      }
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 3.2rem;

      a {
        font-size: 3rem;
        line-height: 130%;
      }
    }

    &__region {
      width: 100%;
    }

    &__region-title {
      font-size: 3rem;
      line-height: 130%;
      margin-right: 3rem;
    }

    &__burger {
      .btn-round {
        background-color: $blue;
        border-color: $blue;
      }
    }

    &__burger-icon {
      @include sizes(4rem, 2.4rem);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
}
