.map {
  @include sizes(126rem, 57rem);
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;

  ymaps {
    border-radius: 3rem;
  }

  &-descs {
    position: absolute;
    bottom: 2.6rem;
    z-index: 2;
    width: 118.5rem;
    padding: 2.5rem;
    border-radius: 2rem;
    background-color: $white;
    align-items: center;
    // box-shadow: 0 0 1rem rgba(143, 155, 205, 0.25);
    box-shadow: -0.8rem 1.6rem 4rem 0 rgba(76, 98, 187, 0.2);
    display: none;

    &.active {
      display: flex;
      animation: show 1s;
    }
  }

  &-desc {
    display: none;

    &.active {
      display: flex;
      animation: show 3s;
    }
  }

  &-desc__left {
    @extend %flexCenterBetween;
    column-gap: 1.6rem;
    padding-right: 5rem;
    border-right: 0.2rem solid $lightGrey;
    flex-shrink: 0;
  }

  &-desc__img {
    @include sizes(12.5rem, 12.5rem);
    border-radius: 1rem;
  }

  &-desc__desc {
    max-width: 31.7rem;
  }

  &-desc__desc-text {
    @extend %textRegular15;
    color: $grey;
  }

  &-desc__items {
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    column-gap: 4.5rem;
    row-gap: 2rem;
    grid-auto-columns: min-content;
  }

  &-desc__item {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;

    span {
      @extend %textRegular15;
      color: $grey;
    }

    img {
      @include sizes(2.4rem, 2.4rem);
    }
  }

  .btn-tertiary {
    @extend %textBold20;
    margin-bottom: 0.7rem;
    justify-content: flex-start;
    text-align: left;
    padding: 0;

    span {
      white-space: wrap;
    }

    svg {
      position: absolute;
      top: calc(50% - 2.4rem / 2);
      right: 2.5rem;
    }
  }
}

[class*='gototech'],
[class*='copyrights-pane'],
[class*='controls__control'],
[class*='controls__toolbar'],
[class*='controls__bottom'] {
  opacity: 0;
  transition: $transition;
}

.map:hover [class*='copyrights-pane'],
.map:hover [class*='controls__control'] {
  opacity: 1;
}
