.maps {
  @include showDesc();

  .title {
    margin-bottom: 4.5rem;
  }

  &__container {
    margin-top: 17rem;
  }

  &__title {
    @extend %flexCenterBetween;
    column-gap: 22rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 3.2rem;
  }

  &__list-items {
    @extend %flexColumn;
    row-gap: 2.2rem;
    overflow-y: scroll;
    max-height: 57rem;
    padding-right: 4.3rem;
    @include noScrollLine();
  }

  &__list-item {
    border-radius: 3rem;
    padding: 1.8rem 2rem 2.3rem 2rem;
    background-color: $white;
    cursor: pointer;

    &.active {
      background-color: $lightGrey;
    }
  }

  &__list {
    width: 100%;
    .title-h3 {
      margin: 1.7rem 0 4.5rem 0;
    }
  }

  &__list-item-header {
    @extend %flexCenterStart;
    position: relative;
    column-gap: 1.7rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $lightGrey;
  }

  &__maps-header {
    @extend %flexCenterBetween;
    margin-bottom: 2rem;
  }

  &__list-item-header-img {
    @include sizes(7.7rem, 7.7rem);
    border-radius: 100%;
    overflow: hidden;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__list-item-header-desc {
    @extend %flexColumn;
    justify-content: space-between;
    row-gap: 0.6rem;

    a {
      white-space: pre-line;
    }

    p {
      @extend %textRegular15;
      color: $grey;
    }
  }

  &__list {
    .btn-tertiary {
      text-align: left;
      max-width: 18rem;
      padding: 0;

      span {
        white-space: wrap;
      }

      svg {
        position: absolute;
        top: calc(50% - 2.4rem / 2);
        right: -1.2rem;
      }
    }
  }

  &__filter-filters {
    @extend %flexCenterBetween;
    column-gap: 4rem;
  }

  &__filter-inputs {
    display: flex;
    width: 100%;
  }

  &__list-item-footer {
    @extend %flexCenterBetween;
    column-gap: 4.5rem;
    padding-top: 2rem;
  }

  &__list-item-footer-item {
    @extend %flexCenterBetween;
    column-gap: 0.4rem;
  }

  &__list-item-footer-item-img {
    flex-shrink: 0;
    @include sizes(1.6rem, 1.6rem);
    svg {
      @extend %fullSize;
    }
  }

  &__list-item-footer-item-text {
    @extend %textRegular15;
    color: $grey;
    flex-shrink: 0;
  }

  .select-mult .select__input {
    width: 22.8rem;
  }

  &__filter-price {
    @extend %flexCenter;

    .title-h3 {
      margin-right: 4rem;
      flex-shrink: 0;
    }
  }

  &-catalog {
    .maps__filter {
      width: 74%;
    }

    .maps__title {
      .title-h3:nth-child(2) {
        display: none;
      }
    }

    .input {
      background: $lightGrey;
      margin-right: 1.5rem;

      input {
        background: $lightGrey;
        width: 13rem;
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .maps {
    @include showMob();

    .map {
      @include sizes(100%, 118.6rem);
    }

    &__container {
      margin-top: 18rem;
    }

    &__maps,
    &__list {
      width: 100%;
      animation: show 1.5s;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      width: 100%;
      column-gap: 10rem;
    }

    &__title-btns {
      display: flex;
      column-gap: 2rem;
    }

    &__filter-price {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      row-gap: 3rem;
    }

    &__title-btn {
      background: $lightGrey;
      border-color: $lightGrey;
    }

    &__list {
      .btn-tertiary {
        max-width: 38.6rem;

        span {
          font-size: 3.2rem;
        }

        svg {
          top: calc(50% + 4.8rem / 2);
        }
      }
    }

    &__list-item-header-desc {
      row-gap: 3.2rem;
    }

    &__list-items {
      padding-right: 2.4rem;
      max-height: 102rem;
    }

    &__list-item {
      padding: 3.2rem;
      border-radius: 4rem;
    }

    &__list-item-header {
      padding-bottom: 2.4rem;
    }

    &__list-item-header-img {
      @include sizes(15.4rem, 15.4rem);
    }

    &__list-item-header-desc p {
      font-size: 3rem;
      line-height: 120%;
    }

    &__list-item-footer {
      padding-top: 4rem;
    }

    &__list-item-footer-item {
      column-gap: 0.8rem;
    }

    &__list-item-footer-item-img {
      @include sizes(4rem, 4rem);
    }

    &__list-item-footer-item-text {
      font-size: 2.8rem;
      line-height: 130%;
    }

    &__filter {
      display: flex;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 4;
      padding: 2.4rem 0 5.8rem;
      flex-direction: column;
      justify-content: flex-start;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      &.active {
        z-index: 4;
        transform: translateX(0);
      }

      .select__content {
        opacity: 1;
        visibility: visible;
        max-height: 100%;
        position: relative;
        top: 0;
        padding: 0;
        border: 0;
        background: 0;
        box-shadow: none;
        border-radius: 0;
        z-index: 2;
        margin-top: 2.4rem;
      }

      .select.active .select__btn {
        transform: rotate(0);
      }

      .select__items {
        height: 43.5rem;
        max-height: 43.5rem;
      }
    }

    &__filter-header {
      padding: 0 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4.6rem;
    }

    &__filter-title {
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 105%;
    }

    &__filter-close {
      @include sizes(8.8rem, 8.8rem);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $lightGrey;

      img {
        @include sizes(4rem, 4rem);
      }
    }

    &__filter-items {
      margin-bottom: 6rem;
      display: flex;
      align-items: center;
      padding: 0 3.2rem;
      column-gap: 1.6rem;
      overflow-x: scroll;
      @include noScrollLine();
    }

    &__filter-item {
      padding: 1.2rem 2rem;
      width: fit-content;
      height: auto;
      display: flex;
      align-items: center;
      background-color: $lightGrey;
      border-radius: 1.6rem;
      column-gap: 1.6rem;
      flex-shrink: 0;

      span {
        font-size: 3rem;
        font-weight: 400;
        line-height: 120%;
      }

      img {
        @include sizes(3rem, 3rem);
      }
    }

    &__filter-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 3.2rem;
      position: relative;
      z-index: 2;
    }

    &__filter-filters {
      padding: 0 3.2rem;
      flex-direction: column;
      row-gap: 6rem;
      margin-bottom: 6rem;
      flex: 1 1;
      justify-content: flex-start;
      overflow-y: scroll;
      overflow-x: hidden;
      @include noScrollLine();
    }

    .title {
      margin-bottom: 5.6rem;
    }

    .title-h3 {
      font-size: 3.2rem;
      line-height: 130%;
      margin: 0;
    }

    &-catalog {
      .maps__filter {
        width: 100%;
      }

      .maps__title {
        .title-h3:nth-child(2) {
          display: block;
          &.hide {
            display: none;
          }
        }
      }
    }
  }
}
