.phones {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7.4rem;
  row-gap: 2.2rem;

  &__phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
  }

  &__phone-numbers {
    text-align: end;
    div {
      &:first-child {
        color: $black;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.2rem;
        margin-bottom: 0.8rem;
      }

      &:last-child {
        color: $grey;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
