.phones {
  @extend %flexCenter;
  column-gap: 7.4rem;
  row-gap: 2.2rem;

  &__phone {
    @extend %flexCenterEnd;
    column-gap: 2rem;
  }

  &__phone-numbers {
    text-align: end;

    div {
      &:first-child {
        @extend %textBold18;
        margin-bottom: 0.8rem;
      }

      &:last-child {
        @extend %textRegular15;
        color: $grey;
      }
    }
  }
}

//------------------Mob------------------//
@media screen and (max-width: 48em) {
  .phones {
    column-gap: 8rem;
    row-gap: 2.4rem;

    &__phone {
      row-gap: 2.4rem;
      flex-direction: column-reverse;
      align-items: flex-end;
      flex-shrink: 0;
    }

    &__phone-numbers {
      padding: 0.8rem 0;

      div {
        &:first-child,
        &:last-child {
          font-size: 3rem;
          line-height: 120%;
        }

        &:first-child {
          margin-bottom: 1.6rem;
        }

        &:last-child {
          text-align: end;
        }
      }
    }
  }
}
