.question {
  margin: 15rem auto 17rem 0;

  &__container {
    @extend %flexColumn;
    @extend %flexCenter;
    border-radius: 3rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
    padding: 12.5rem;
    position: relative;

    &::after {
      @extend %fullSize;
      content: '';
      background: url('@img/bg/baner-bg-2.png') no-repeat;
      position: absolute;
      background-size: cover;
      left: 0;
      top: 0;
      border-radius: 3rem;
      z-index: -1;
    }
  }

  &__text {
    @extend %textRegular20;
    text-align: center;
    margin-bottom: 3rem;
    max-width: 72rem;
  }

  &__form {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  &--blog {
    margin: 17rem auto 17rem 0;

    .question__container {
      padding: 14rem;
    }
  }
}

//------------------Mob-----------------//
@media screen and (max-width: 48em) {
  .question {
    margin: 18rem 0 19rem 0;

    &__container {
      border-radius: 4rem;
      padding: 12.4rem 2.4rem;
      text-align: center;

      &::after {
        @extend %fullSize;
        content: '';
        background: url('@img/bg/baner-bg-2-mob.png');
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 6.4rem;
      }
    }

    &__text {
      max-width: 95%;
      margin-bottom: 4rem;
    }

    &__form {
      flex-direction: column;
      row-gap: 4rem;
      width: 100%;

      .icon {
        width: 4rem;
        height: 4rem;
      }
    }

    &--blog {
      margin: 16rem 0;

      .question__form {
        row-gap: 6.4rem;
      }

      .question__container {
        padding: 12.5rem 2rem;
      }
    }

    .title {
      margin-bottom: 2.4rem;
      font-size: 4.8rem;
      line-height: 130%;
    }
  }
}
