.select {
  position: relative;

  &.active {
    .select__content {
      opacity: 1;
      max-height: 26rem;
      z-index: 10;
    }

    .select__btn {
      transform: rotate(180deg);
    }
  }

  &__empty {
    @extend %textBold20;
    display: none;

    &.active {
      display: block;
    }
  }

  &__header {
    @extend %flexCenter;
    @extend %hover;
    position: relative;

    &.active {
      button {
        transform: rotate(180deg);
      }
    }
  }

  &__btn {
    @include sizes(2.4rem, 2.4rem);
    @extend %hover;
  }

  &__content {
    @extend %flexColumn;
    @extend %hover;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 3rem;
    right: -3rem;
    padding: 3rem 1rem 3rem 3rem;
    border-radius: 3rem;
    background: $background;
    box-shadow: 0 0 1rem rgba(143, 155, 205, 0.25);
    overflow: hidden;
    height: 26rem;
    max-height: 0;
  }

  &__items {
    @include customScrol();
    max-height: 20rem;
    overflow-y: scroll;
    width: max-content;
    padding-right: 2rem;
  }

  &__item {
    border-radius: 1rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    &:hover {
      @extend %hover;
      background-color: $lightGrey;
    }

    label {
      @extend %hover;
      @extend %textBold18;
      padding: 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
    }
  }

  &__value {
    @extend %textBold18;
    margin-right: 2rem;
  }

  &__icon {
    @include sizes(auto, auto);
    margin-right: 0.6rem;
  }
}

.select-sort,
.select-mult {
  .select__header {
    background-color: $lightGrey;
    padding: 2.2rem 2rem 2.2rem 3rem;
    border-radius: 5.1rem;
  }

  .select__content {
    top: 8.5rem;
    right: 0;
  }
}

.select-sort {
  .select__items {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

.select-sort,
.select-baner,
.select-region {
  input {
    display: none;

    &:checked + label {
      color: $orange;
    }
  }
}

.select-mult {
  .select__input {
    @extend %textBold20;
    border: 0;
    background: transparent;
    width: 29.5rem;

    &::placeholder {
      color: $black;
    }
  }

  .select__item {
    cursor: pointer;
    user-select: none;
    position: relative;

    label,
    span {
      @extend %textRegular18;
    }

    label {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      position: relative;

      &::before {
        @include sizes(2.4rem, 2.4rem);
        content: '';
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;
        left: 0;
        background: url('@img/icons/checkbox.svg');
      }
    }

    span {
      color: $grey;
    }

    &:hover {
      label {
        &::before {
          background: url('@img/icons/checkbox-hover.svg');
        }
      }
    }

    input[type='checkbox'] {
      @include sizes(0, 0);
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
    }

    input[type='checkbox']:checked + label:before {
      background-position: 50% 50%;
      background-size: 2.4rem 2.4rem;
      background-repeat: no-repeat;
      background-image: url('@img/icons/checkbox-active.svg');
    }
  }

  .select__content,
  .select__items {
    width: 100%;
  }
}

.select-baner {
  .select__icon {
    margin-right: 1rem;
  }

  .select__header {
    background-color: $white;
    padding: 2.2rem 2rem 2.2rem 3rem;
    border-radius: 5.9rem;
  }

  .select__value {
    @extend %textBold20;
    width: 35rem;
  }

  .select__content {
    left: 0;
    top: 8.5rem;
  }

  .select__items {
    width: 100%;
  }
}

//---------------Mob------------------//
@media screen and (max-width: 48em) {
  .select {
    width: 100%;

    &.active {
      .select__content {
        max-height: 40rem;
      }
    }

    &__btn {
      @include sizes(4.8rem, 4.8rem);
    }

    &__content {
      padding: 4.8rem 4.8rem 4.8rem 2.4rem;
      border-radius: 4rem;
      height: 40rem;
    }

    &__items {
      max-height: 37.5rem;
      padding-right: 2.4rem;
    }

    &__item {
      border-radius: 2.4rem;

      &:not(:last-child) {
        margin-bottom: 2.1rem;
      }
    }

    &__icon {
      @include sizes(auto, auto);
      margin-right: 0.6rem;
    }
  }

  .select-sort,
  .select-mult {
    .select__header {
      padding: 2.4rem 2.4rem 2.4rem 4rem;
      border-radius: 12rem;
      justify-content: space-between;
    }

    .select__items {
      width: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        display: block;
      }
    }

    .select__content {
      top: 10.5rem;
    }
  }

  .select-mult {
    &.active {
      .select__content {
        max-height: 43.5rem;
      }
    }
    .select__input {
      width: 22rem;
    }

    .select__content {
      height: 43.5rem;
    }

    .select__item {
      label {
        &::before {
          content: '';
          border-radius: 1rem;
          @include sizes(4.8rem, 4.8rem);
        }
      }

      input[type='checkbox']:checked + label:before {
        background-size: 4.8rem 4.8rem;
      }
    }
  }

  .select-baner {
    &.active {
      .select__content {
        max-height: 37.5rem;
        z-index: 10;
        width: 100%;
      }
    }

    .select__content {
      height: 37.5rem;
    }

    .select__icon {
      margin-right: 0.8rem;
      flex-shrink: 0;
    }

    .select__header {
      padding: 2.4rem 2.4rem 2.4rem 4rem;
      border-radius: 12rem;
    }

    .select__value {
      width: 100%;
      font-size: 2.8rem;
      line-height: 130%;
    }

    .select__icon {
      @include sizes(4.8rem, 4.8rem);

      img {
        @include sizes(100%, 100%);
      }
    }

    .select__content {
      top: 10rem;
    }
  }
}
