.select {
  position: relative;

  &.active {
    .select__content {
      opacity: 1;
      max-height: 26rem;
      z-index: 10;
    }

    .select__btn {
      transform: rotate(180deg);
    }
  }

  &__empty {
    @extend %textBold20;
    display: none;

    &.active {
      display: block;
    }
  }

  &__header {
    @extend %flexCenter;
    @extend %hover;
    position: relative;

    &.active {
      button {
        transform: rotate(180deg);
      }
    }
  }

  &__btn {
    @include sizes(2.4rem, 2.4rem);
    @extend %hover;
  }

  &__content {
    @extend %flexColumn;
    @extend %hover;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 3rem;
    right: -3rem;
    padding: 3rem 1rem 3rem 3rem;
    border-radius: 3rem;
    background: $background;
    box-shadow: 0 0 1rem rgba(143, 155, 205, 0.25);
    overflow: hidden;
    height: 26rem;
    max-height: 0;
  }

  &__items {
    @include customScrol();
    max-height: 20rem;
    overflow-y: scroll;
    width: max-content;
    padding-right: 2rem;
  }

  &__item {
    border-radius: 1rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    &:hover {
      @extend %hover;
      background-color: $lightGrey;
    }

    label {
      @extend %hover;
      @extend %textBold18;
      padding: 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
    }
  }

  &__value {
    @extend %textBold18;
    margin-right: 2rem;
  }

  &__icon {
    @include sizes(auto, auto);
    margin-right: 0.6rem;
  }
}

.select-sort,
.select-mult {
  .select__header {
    background-color: $lightGrey;
    padding: 2.2rem 2rem 2.2rem 3rem;
    border-radius: 5.1rem;
  }

  .select__content {
    top: 8.5rem;
    right: 0;
  }
}

.select-sort {
  .select__items {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

.select-sort,
.select-baner,
.select-region {
  input {
    display: none;

    &:checked + label {
      color: $orange;
    }
  }
}

.select-mult {
  .select__input {
    @extend %textBold20;
    border: 0;
    background: transparent;
    width: 29.5rem;

    &::placeholder {
      color: $black;
    }
  }

  .select__item {
    cursor: pointer;
    user-select: none;
    position: relative;

    label,
    span {
      @extend %textRegular18;
    }

    label {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      position: relative;

      &::before {
        @include sizes(2.4rem, 2.4rem);
        content: '';
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;
        left: 0;
        background: url('@img/icons/checkbox.svg');
      }
    }

    span {
      color: $grey;
    }

    &:hover {
      label {
        &::before {
          background: url('@img/icons/checkbox-hover.svg');
        }
      }
    }

    input[type='checkbox'] {
      @include sizes(0, 0);
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
    }

    input[type='checkbox']:checked + label:before {
      background-position: 50% 50%;
      background-size: 2.4rem 2.4rem;
      background-repeat: no-repeat;
      background-image: url('@img/icons/checkbox-active.svg');
    }
  }

  .select__content,
  .select__items {
    width: 100%;
  }
}

.select-baner {
  .select__icon {
    margin-right: 1rem;
  }

  .select__header {
    background-color: $white;
    padding: 2.2rem 2rem 2.2rem 3rem;
    border-radius: 5.9rem;
  }

  .select__value {
    @extend %textBold20;
    width: 35rem;
  }

  .select__content {
    left: 0;
    top: 8.5rem;
  }

  .select__items {
    width: 100%;
  }
}

//---------------Mob------------------//
@media screen and (max-width: 48em) {
  .select {
    width: 100%;

    &.active {
      .select__content {
        max-height: 53vw;
      }
    }

    &__empty {
      font-size: 5.3vw;
    }

    &__btn {
      @include sizes(2.4rem, 2.4rem);
    }

    &__content {
      padding: 6.4vw 6.4vw 6.4vw 3.2vw;
      border-radius: 5.3vw;
      height: 53vw;
    }

    &__items {
      max-height: 50vw;
      padding-right: 3.2vw;
    }

    &__item {
      border-radius: 3.2vw;

      &:not(:last-child) {
        margin-bottom: 2.8vw;
      }

      label {
        padding: 3.2vw;
        font-size: 4vw;
        line-height: 120%;
      }
    }

    &__value {
      font-size: 4vw;
      line-height: 120%;
      margin-right: 2rem;
    }

    &__icon {
      @include sizes(auto, auto);
      margin-right: 0.6rem;
    }
  }

  .select-sort,
  .select-mult {
    .select__header {
      padding: 4vw 3.2vw 4vw 5.3vw;
      border-radius: 16vw;
      justify-content: space-between;
    }

    .select__items {
      width: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        display: block;
      }
    }

    .select__content {
      top: 14vw;
    }
  }

  .select-mult {
    &.active {
      .select__content {
        max-height: 58vw;
      }
    }
    .select__input {
      width: 29.5rem;
      font-size: 3.8vw;
    }

    .select__content {
      height: 58vw;
    }

    .select__item {
      label,
      span {
        font-size: 4vw;
        line-height: 120%;
      }

      label {
        &::before {
          content: '';
          border-radius: 1vw;
          @include sizes(6.4vw, 6.4vw);
        }
      }

      input[type='checkbox']:checked + label:before {
        background-size: 6.4vw 6.4vw;
      }
    }
  }

  .select-baner {
    &.active {
      .select__content {
        max-height: 50vw;
        z-index: 10;
      }
    }

    .select__content {
      height: 50vw;
    }
    .select__icon {
      margin-right: 1.2vw;
    }

    .select__header {
      padding: 3.2vw 3.2vw 3.2vw 5.3vw;
      border-radius: 16vw;
    }

    .select__value {
      font-size: 3.8vw;
      width: 100%;
    }

    .select__icon {
      @include sizes(6.4vw, 6.4vw);

      img {
        @include sizes(6.4vw, 6.4vw);
      }
    }

    .select__content {
      top: 13vw;
    }
  }
}
