.seo {
  margin-top: 5rem;
  color: $black;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  &__heading {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  &__item {
    position: relative;
    padding-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      top: 0.8rem;
      left: 0;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $black;
    }
  }

  &__item,
  &__text {
    font-size: 2rem;
  }

  &__list,
  &__text {
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  @media (max-width: 48em) {
    &__item,
    &__text {
      font-size: 3.2rem;
    }

    &__item {
      &::before {
        top: 1.25rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
