.contacts {
  margin-bottom: 16rem;

  &__container {
    @extend %flexStartBetween;
    column-gap: 5rem;
    margin-top: 3rem;
  }

  &__desc {
    margin-top: 4rem;
    flex-shrink: 0;
  }

  &__item {
    @extend %flexCenterStart;
    column-gap: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__item-circle {
    @include sizes(7rem, 7rem);
    @extend %flexCenter;
    border-radius: 50%;
    background: linear-gradient(124deg, #2ecdf0 25.14%, rgba(46, 205, 240, 0.24) 90.92%);

    img {
      @include sizes(2.4rem, 2.4rem);
    }
  }

  &__item-tit {
    @extend %textH3;
    margin-bottom: 0.8rem;
  }

  &__item-txt {
    @extend %textRegular20;
    color: $grey;
  }
}

@media screen and (max-width: 48em) {
  .contacts {
    margin-bottom: 18rem;

    &-page {
      margin-top: 11.4rem;
    }

    &__container {
      flex-direction: column;
      row-gap: 6rem;
      margin-top: 6rem;
    }

    &__desc {
      margin-top: 0;
    }

    &__item {
      column-gap: 3.2rem;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &__item-circle {
      @include sizes(8.8rem, 8.8rem);

      img {
        @include sizes(3.6rem, 3.6rem);
      }
    }

    &__item-tit {
      margin-bottom: 1.6rem;
      font-size: 3.2rem;
    }

    &__map {
      width: 100%;
    }

    .map {
      @include sizes(100%, 81.2rem);
    }
  }
}
