<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__left">
        <div class="footer__logo logo">
          <a href="#">Пансионаты</a>
        </div>
        <button type="button" class="btn btn-tertiary">
          <span>Добавить пансионат</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="2.6rem" height="2.6rem" viewBox="0 0 26 26" fill="none">
            <path
              d="M9.5 19.5L15.5 13L9.5 6.5"
              stroke="#1A1A1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <a href="#" class="footer__link"> Карта сайта </a>
      </div>
      <ul class="footer__menu">
        <li class="footer__item">
          <a href="#" class="footer__link">Каталог</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Рассчитать стоимость услуг</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Лучшие предложения</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">О нас</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Награды</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Подбор пансионата по рейтингу</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Блог</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Пансионаты рядом с вами</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Подбор пансионата по заболеванию</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Контакты</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Проверенные пансионаты</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Подбор пансионата по особенности</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Избранное</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Услуги по транспортировке больных</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Подбор пансионата по городу</a>
        </li>
      </ul>
      <div class="footer__phones phones">
        <button type="button" class="btn btn-primary">
          <span>Заказать звонок</span>
        </button>
        <div class="phones__phone">
          <div class="phones__phone-numbers">
            <div>8 495 567 45 05</div>
            <div>9:00 - 21:00</div>
          </div>
          <a href="tel:84955674505" class="btn btn-round">
            <img src="@img/icons/phone.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Модалка рассчитать стоимость услуг-->
<div class="modal close-x" data-modal="cost-services">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/close-modal.svg" alt="" />
      </div>
      <div class="title modal__content-title">Спасибо за обращение</div>
      <div class="modal__content-text">Наш специалист свяжется с вами и поможет подобрать подходящие варианты</div>
      <div class="modal__content-btns">
        <a href="#" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Модалка не нашли пансионат-->
<div class="modal close-x" data-modal="not-found-board">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/close-modal.svg" alt="" />
      </div>
      <div class="title modal__content-title">Спасибо за обращение</div>
      <div class="modal__content-text">
        Наш специалист свяжется с вами и сделает индивидуальную подборку пансионатов.
      </div>
      <div class="modal__content-btns">
        <a href="#" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<script
  src="https://api-maps.yandex.ru/2.1/?apikey=e1d17623-ee55-4c9d-8251-85ab8eb1263e&lang=ru_RU"
  type="text/javascript"
></script>
<script src="js/app.min.js"></script>
