<!--Модалка нужна помощь в выборе пансионата (Наш специалист свяжется с вами и сделает индивидуальную подборку пансионатов.)-->
<div class="modal close-x" data-modal="assistance-choosing">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">
        Спасибо <br />
        за обращение
      </div>
      <div class="modal__content-text">
        Наш специалист свяжется с вами и сделает индивидуальную подборку пансионатов.
      </div>
      <div class="modal__content-btns">
        <a href="./main.html" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Модалка рассчитать стоимость услуг (Наш специалист свяжется с вами и поможет подобрать подходящие варианты)-->
<div class="modal close-x" data-modal="cost-services">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">
        Спасибо <br />
        за обращение
      </div>
      <div class="modal__content-text">Наш специалист свяжется с вами и поможет подобрать подходящие варианты</div>
      <div class="modal__content-btns">
        <a href="./main.html" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Узнать о наличии мест-->
<div class="modal close-x" data-modal="check-availability">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">Узнать о наличии мест</div>
      <div class="modal__content-text">Оставьте ваш номер телефона, наш специалист перезвонит вам.</div>
      <form class="modal__content-form">
        <div class="input">
          <div class="icon">
            <img src="@img/icons/icons.svg#phone-orange" alt="" />
          </div>
          <input type="tel" name="phone" placeholder="Введите номер телефона" autocomplete="off" />
        </div>
        <button type="submit" form="baner-form-phone" class="btn btn-primary">
          <span>Заказать звонок</span>
        </button>
      </form>
    </div>
  </div>
</div>

<!--Модалка связь в ближайшее время (Наш специалист свяжется с вами в ближайшее время.)-->
<div class="modal close-x" data-modal="will-contact-soon">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">
        Спасибо <br />
        за обращение
      </div>
      <div class="modal__content-text">Наш специалист свяжется с вами в ближайшее время.</div>
      <div class="modal__content-btns">
        <a href="./main.html" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Контактные данные-->
<div class="modal close-x" data-modal="contacts-data">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">Контактные данные</div>
      <div class="modal__content-text">
        Оставьте ваш номер телефона, наш специалист подберет подходящие варианты и перезвонит вам.
      </div>
      <form class="modal__content-form">
        <div class="input">
          <div class="icon">
            <img src="@img/icons/icons.svg#phone-orange" alt="" />
          </div>
          <input type="tel" name="phone" placeholder="Введите номер телефона" autocomplete="off" />
        </div>
        <button type="submit" form="baner-form-phone" class="btn btn-primary">
          <span>Заказать звонок</span>
        </button>
      </form>
    </div>
  </div>
</div>

<!--Спасибо за заявку-->
<div class="modal close-x" data-modal="thanks-application">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">
        Спасибо <br />
        за Заявку
      </div>
      <div class="modal__content-text">Наш специалист свяжется с вами в ближайшее время для уточнения деталей.</div>
      <div class="modal__content-btns">
        <a href="./main.html" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Модалка подобрать пансионат-->
<div class="modal close-x" data-modal="will-select-suitable">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/icons.svg#close-modal" alt="" />
      </div>
      <div class="title modal__content-title">
        Спасибо <br />
        за обращение
      </div>
      <div class="modal__content-text">Наш специалист свяжется с вами как только подберет подходящие варианты</div>
      <div class="modal__content-btns">
        <a href="./main.html" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>
