<!--Модалка рассчитать стоимость услуг-->
<div class="modal close-x" data-modal="cost-services">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/close-modal.svg" alt="close" />
      </div>
      <div class="title modal__content-title">Спасибо за обращение</div>
      <div class="modal__content-text">Наш специалист свяжется с вами и поможет подобрать подходящие варианты</div>
      <div class="modal__content-btns">
        <a href="#" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Модалка не нашли пансионат-->
<div class="modal close-x" data-modal="not-found-board">
  <div class="modal__inner">
    <div class="modal__content">
      <div class="modal__content-close close-x">
        <img class="close-x" src="@img/icons/close-modal.svg" alt="close" />
      </div>
      <div class="title modal__content-title">Спасибо за обращение</div>
      <div class="modal__content-text">
        Наш специалист свяжется с вами и сделает индивидуальную подборку пансионатов.
      </div>
      <div class="modal__content-btns">
        <a href="#" class="btn btn-primary">
          <span>Вернуться на главную</span>
        </a>
      </div>
    </div>
  </div>
</div>
