.awards {
  .title {
    margin-bottom: 5rem;
  }

  &__container {
    margin-top: 23rem;
  }

  &__list {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  &__item {
    @include sizes(40.2rem, 29.3rem);
    border-radius: 4rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
    padding: 3.5rem 5rem 0 4rem;
    overflow: hidden;
    position: relative;
    transition: $transition;

    &:hover {
      background: $gradientBlue2;

      .awards__circle {
        background: $white;
      }

      .awards__circle-img {
        display: none;
      }

      .awards__circle-img-hover {
        display: block;
      }

      .btn-tertiary {
        span {
          color: $white;
          transition: $transition;
        }

        svg path {
          stroke: $white;
          transition: $transition;
        }
      }
    }
  }

  &__circle {
    @extend %flexCenter;
    @include sizes(19.5rem, 19.5rem);
    border-radius: 50%;
    background: $gradientBlue;
    position: absolute;
    right: -3rem;
    bottom: -4.2rem;
    transition: $transition;
  }

  &__circle-img,
  &__circle-img-hover {
    @include sizes(5rem, 5rem);
    position: relative;
    right: -2.3rem;
    bottom: -1.3rem;
    transition: $transition;
  }

  &__circle-img-hover {
    display: none;
  }

  .btn-tertiary {
    white-space: normal;
    text-align: start;
    display: block;
    padding: 0;

    svg {
      vertical-align: middle;
      margin-top: -0.5rem;
    }
  }
}

//-----------------Mob---------------//
@media screen and (max-width: 48em) {
  .awards {
    .title {
      margin-bottom: 7.5vw;
    }

    .container {
      padding-right: 0;
    }

    &__container {
      padding-top: 24vw;
    }

    &__list {
      @include noScrollLine();
      column-gap: 4.27vw;
      overflow-x: scroll;
    }

    &__item {
      @include sizes(65.8vw, 40.5vw);
      border-radius: 5.3vw;
      padding: 4.27vw;
      flex-shrink: 0;

      &:last-child {
        padding-right: 4.27vw;
      }
    }

    &__circle {
      @extend %flexCenter;
      @include sizes(19.5rem, 19.5rem);
      border-radius: 50%;
      background: $gradientBlue;
      position: absolute;
      right: -3rem;
      bottom: -4.2rem;
      transition: $transition;
    }

    &__circle-img,
    &__circle-img-hover {
      @include sizes(7.5vw, 7.5vw);
      right: -1vw;
      bottom: -1vw;
    }

    .btn-tertiary {
      svg {
        @include sizes(5.3vw, 5.3vw);
        margin-top: -1.4vw;
      }
    }
  }
}
