.awards {
  margin-top: 23rem;

  &__list {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  &__item {
    @include sizes(40.2rem, 29.3rem);
    border-radius: 4rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
    padding: 3.5rem 5rem 0 4rem;
    overflow: hidden;
    position: relative;
    transition: $transition;

    &:hover {
      background: $gradientBlue2;

      .icon-arrow-hover-white {
        stroke: $white;
      }

      .awards__circle {
        background: $white;
        transition: $transition;
      }

      .awards__circle-img {
        img {
          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }
      }

      .btn-tertiary {
        span {
          color: $white;
          transition: $transition;
        }

        svg path {
          stroke: $white;
          transition: $transition;
        }
      }
    }
  }

  &__circle {
    @extend %flexCenter;
    @include sizes(19.5rem, 19.5rem);
    border-radius: 50%;
    background: $gradientBlue;
    position: absolute;
    right: -3rem;
    bottom: -4.2rem;
    transition: $transition;
  }

  &__circle-img {
    position: relative;

    img {
      @include sizes(5rem, 5rem);
      position: absolute;
      right: -4.3rem;
      bottom: -4rem;
      transition: $transition;

      &:first-child {
        opacity: 1;
      }
      &:last-child {
        opacity: 0;
      }
    }
  }

  .title {
    margin-bottom: 5rem;
  }

  .btn-tertiary {
    white-space: normal;
    text-align: start;
    display: block;
    padding: 0;

    svg {
      vertical-align: middle;
      margin-top: -0.5rem;
    }
  }
}

//-----------------Mob---------------//
@media screen and (max-width: 48em) {
  .awards {
    margin-top: 18rem;

    &__list {
      @include noScrollLine();
      overflow-x: scroll;
      padding: 0 4.27vw;
      padding-right: 3.2rem;
    }

    &__item {
      @include sizes(49.4rem, 30.5rem);
      border-radius: 4rem;
      padding: 3.2rem;
      flex-shrink: 0;

      &:last-child {
        padding-right: 3.2rem;
      }
    }

    &__circle {
      @include sizes(16.5rem, 16.5rem);
      right: -2rem;
    }

    &__circle-img {
      &::before {
        @include sizes(5.625rem, 5.625rem);
        right: -4rem;
        bottom: -3rem;
      }
    }

    .btn-tertiary {
      svg {
        @include sizes(4rem, 4rem);
        margin-top: -1rem;
      }
    }

    .title {
      margin-bottom: 5.6rem;
      padding: 0 4.27vw;
    }

    .container {
      padding: 0;
    }
  }
}
