.baner {
  position: relative;
  background-color: #f6f8fbb8;

  &-bg {
    background: url('../../img/main/baner.png') no-repeat center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    left: 0;
    height: 91.2rem;
    top: -13rem;
    width: 90%;
  }

  &__container {
    padding: 3rem 0 9rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 18rem;
    max-width: 50rem;
    padding-top: 4rem;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    row-gap: 5.2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
  }

  &__desc {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
  }

  &__desc-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.8rem;
  }

  .btn-round {
    background: rgba(240, 243, 247, 0.51);
    border-color: rgba(240, 243, 247, 0.51);
  }

  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 3.1rem;
    width: 32.3rem;
  }

  &__count-boards {
    padding: 2.8rem 5.1rem;
    border-radius: 4rem;
    background: rgba(156, 171, 189, 0.15);
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__count-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    span {
      &:first-child {
        font-size: 6rem;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
      &:last-child {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 130%;
        margin-top: -1.2rem;
      }
    }
  }

  &__count-imgs {
    display: flex;
    width: 17rem;
    img {
      width: 7rem;
      height: 7rem;
      position: relative;
      &:nth-child(2) {
        left: -2rem;
      }
      &:nth-child(3) {
        left: -4rem;
      }
    }
  }

  &__doctor {
    padding: 5.1rem 2.9rem 0 2.9rem;
    border-radius: 4rem;
    background: linear-gradient(151deg, #2ecdf0 9.04%, rgba(46, 205, 240, 0.24) 116.35%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__doctor-text {
    color: $white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 2.8rem;
  }

  &__center {
    position: absolute;
    bottom: -6rem;
    padding: 2.4rem 5rem 2.4rem 2.4rem;
    border-radius: 3rem;
    background: rgba(182, 194, 207, 0.15);
    backdrop-filter: blur(2rem);
    width: 170rem;
    height: 12rem;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12rem;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
  }
}
