.webp .baner-bg {
  background-size: contain;
}

.baner {
  @include showDesc();
  position: relative;

  &-bg {
    @include sizes(90%, 91.2rem);
    background-image: url('@img/main/baner.png');
    background-size: cover;
    position: absolute;
    overflow: hidden;
    left: 1rem;
    top: -13rem;
  }

  &-bg-2 {
    background-color: $backgroundBaner;
    width: 100%;
    height: 91.2rem;
    position: absolute;
    z-index: -1;
    top: -13rem;
  }

  &__container {
    @extend %flexCenterBetween;
    padding: 3rem 0 9rem 0;
    position: relative;
    z-index: 2;
  }

  &__left {
    @extend %flexColumn;
    row-gap: 18rem;
    max-width: 49rem;
    padding-top: 4rem;
  }

  &__titles {
    @extend %flexColumn;
    row-gap: 5.2rem;
  }

  &__title {
    @extend %textBold20;
  }

  &__text {
    @extend %textRegular20;
  }

  &__desc {
    @extend %flexColumn;
    max-width: 35rem;
    row-gap: 2.8rem;
  }

  &__desc-btns {
    @extend %flexCenterStart;
    column-gap: 1.8rem;
  }

  &__right {
    @extend %flexColumn;
    row-gap: 3.1rem;
    width: 32.3rem;
    z-index: -1;
    margin-top: -3rem;
  }

  &__count-boards {
    @extend %flexColumn;
    padding: 2.8rem 4.6rem;
    border-radius: 4rem;
    background: rgba(156, 171, 189, 0.15);
    backdrop-filter: blur(2rem);
    align-items: center;
  }

  &__count-number {
    @extend %flexColumn;
    align-items: center;
    margin-bottom: 2rem;

    span {
      &:first-child {
        @extend %textNums;
      }
      &:last-child {
        @extend %textRegular20;
        text-align: center;
        margin-top: -1rem;
      }
    }
  }

  &__count-imgs {
    display: flex;
    width: 17rem;
    position: relative;
    left: 2rem;
  }

  &__count-img {
    @include sizes(7rem, 7rem);
    position: relative;

    &:nth-child(2) {
      left: -2rem;
    }

    &:nth-child(3) {
      left: -4rem;
    }
  }

  &__doctor {
    @extend %flexColumn;
    padding: 4.6rem 2.9rem 0 2.9rem;
    border-radius: 4rem;
    background: $gradientBlue2;
    align-items: center;
  }

  &__doctor-text {
    @extend %textBold18;
    color: $white;
    text-align: center;
    margin-bottom: 2.8rem;
  }

  &__center {
    @include sizes(170rem, 12rem);
    position: absolute;
    bottom: -5.8rem;
    padding: 2.4rem 5rem 2.4rem 2.4rem;
    border-radius: 3rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
  }

  &__btns {
    @extend %flexCenterBetween;
    column-gap: 12rem;
  }

  &__form {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  .btn-round {
    background: $darkGrey;
    border-color: $darkGrey;
  }
}

//-----------------Mob-----------------//
@media screen and (max-width: 48em) {
  .baner {
    @include showMob();
    background-color: transparent;

    &-bg {
      @include sizes(100%, 71rem);
      background: url('@img/main/baner-mob.png') no-repeat center;
      left: 0;
      top: 16rem;
    }

    &__container {
      padding: 6rem 3.2rem 0 3.2rem;
      flex-direction: column;
    }

    &__left {
      max-width: 100%;
      padding-top: 0;
    }

    &__title {
      font-size: 2.4rem;
    }

    &__titles {
      row-gap: 1.6rem;
      align-items: center;
      text-align: center;
      max-width: 76%;
      margin: 0 auto;
    }

    &__right {
      flex-direction: row-reverse;
      width: 100%;
      column-gap: 3.2rem;
      margin-top: 3.2rem;
    }

    &__count-boards {
      padding: 8.25rem 1rem;
      flex: 0 0 calc(50% - 3.2rem / 2);
      border-radius: 4rem;
      backdrop-filter: blur(4rem);
      row-gap: 3.2rem;
    }

    &__count-number {
      margin-bottom: 0;
    }

    &__count-imgs {
      width: 70%;
      left: -0.5rem;
    }

    &__count-img {
      @include sizes(9.6rem, 9.6rem);
      flex-shrink: 0;

      &:nth-child(2) {
        left: -3rem;
      }

      &:nth-child(3) {
        left: -6rem;
      }
    }

    &__doctor {
      flex: 0 0 calc(50% - 3.2rem / 2);
      padding: 4rem 1.8rem 0 1.8rem;
    }

    &__doctor-text {
      margin-bottom: 3.6rem;
    }

    &__doctor-img {
      width: 29.8rem;
      position: relative;
      bottom: -0.1rem;
    }

    &__center {
      @include sizes($height: 100%);
      margin-top: 47.4rem;
      position: static;
      padding: 4.8rem 3.2rem;
      border-radius: 4rem;
      backdrop-filter: blur(4rem);

      .baner__text {
        width: 85%;
        margin-bottom: 3.2rem;
      }
    }

    &__btns {
      flex-direction: column;
      row-gap: 3.2rem;
      align-items: flex-start;
    }

    &__form {
      flex-direction: column;
      width: 100%;
      row-gap: 2rem;
      align-items: flex-start;

      .btn-primary {
        margin-top: 1rem;
      }
    }

    .btn-round {
      background: $darkGrey;
      border-color: $darkGrey;
    }
  }
}
