.blog {
  margin-bottom: 17rem;

  &__title {
    @extend %flexCenterBetween;
    margin-bottom: 5rem;
  }

  &__items {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  &__item {
    border-radius: 10rem 0;
    position: relative;
  }

  &__data {
    @extend %textRegular18;
    border-radius: 6.5rem;
    background: rgba(231, 242, 255, 0.7);
    backdrop-filter: blur(0.2rem);
    padding: 0.8rem 1.6rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  &__desc {
    padding: 4rem 5rem 3rem 5rem;
    position: absolute;
    bottom: 0;
  }

  &__desc-text {
    @extend %textRegular18;
    margin-top: 1rem;
  }

  &__substract {
    @include sizes(calc(100% + 0.2rem), 39rem);
    position: absolute;
    bottom: 0;
    left: -0.2rem;
    z-index: 0;
    background: url('@img/blog/blog-substract.svg') no-repeat center;
    background-size: cover;
  }

  &__img {
    @include sizes(40.2rem, 58.1rem);
  }

  .btn-round {
    background: $white;
    border: 0;
    position: absolute;
    top: -3.5rem;
    right: 6rem;
  }
}

//----------------Mob------------------//
@media screen and (max-width: 48em) {
  .blog {
    position: relative;
    margin-bottom: 18rem;

    .container {
      padding: 0 0 15.6rem 0;
    }

    &__title {
      margin-bottom: 4.6rem;
      display: block;
      padding: 0 4.27vw;
    }

    &__items {
      column-gap: 3.2rem;
      overflow-x: scroll;
      padding: 0 4.27vw;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      border-radius: 8rem 0;
    }

    &__data {
      border-radius: 13rem;
      padding: 0.8rem 2.4rem;
      font-size: 2.4rem;
      top: 4rem;
      left: 4rem;
    }

    &__desc {
      padding: 4.4rem 4rem;
    }

    &__desc-text {
      margin-top: 0.8rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__substract {
      @include sizes(100%, 54.8rem);
      background: url('@img/blog/blog-substract-mob.svg') no-repeat center;
      background-size: cover;
    }

    &__img {
      @include sizes(45.6rem, 66rem);
    }

    .btn-round {
      @include sizes(7.5rem, 7.5rem);
      top: -5.5rem;
      right: 6.8rem;
    }

    .btn-primary {
      position: absolute;
      bottom: 0;
    }

    .title-h3 {
      font-size: 3.2rem;
      line-height: 130%;
    }
  }
}
