.blog {
  &__container {
    margin-bottom: 17rem;
  }

  &__title {
    @extend %flexCenterBetween;
    margin-bottom: 5rem;
  }

  &__items {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  &__item {
    border-radius: 10rem 0;
    position: relative;
  }

  &__data {
    @extend %textRegular18;
    border-radius: 6.5rem;
    background: rgba(231, 242, 255, 0.7);
    backdrop-filter: blur(0.2rem);
    padding: 0.8rem 1.6rem;
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  &__desc {
    padding: 4rem 5rem 3rem 5rem;
    position: absolute;
    bottom: 0;
  }

  &__desc-text {
    @extend %textRegular18;
    margin-top: 1rem;
  }

  &__substract {
    @include sizes(40.3rem, 39.3rem);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &__img {
    @include sizes(40.2rem, 58.1rem);
  }

  .btn-round {
    background: $white;
    border: 0;
    position: absolute;
    top: -3.5rem;
    right: 6rem;
  }
}

//----------------Mob------------------//
@media screen and (max-width: 48em) {
  .blog {
    position: relative;

    &__container {
      padding-bottom: 45vw;
    }

    &__title {
      margin-bottom: 7.5vw;
      display: block;
    }

    &__items {
      @include noScrollLine();
      column-gap: 4.27vw;
      padding-right: 4.27vw;
      overflow-x: scroll;
    }

    &__item {
      border-radius: 10.6vw 0;

      &:last-child {
        padding-right: 4.27vw;
      }
    }

    .btn-primary {
      position: absolute;
      bottom: 23.4vw;
    }

    &__data {
      border-radius: 17.3vw;
      padding: 1.06vw 3.2vw;
      font-size: 3.2vw;
      line-height: 130%;
      position: absolute;
      top: 5.3vw;
      left: 5.3vw;
    }

    &__desc {
      padding: 5.8vw 5.3vw;
      position: absolute;
      bottom: 0;
    }

    &__desc-text {
      font-size: 3.8vw;
      line-height: 130%;
      margin-top: 1.06vw;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .btn-round {
      @include sizes(10vw, 10vw);
      top: -3.5rem;
      right: 6rem;
    }

    &__substract {
      @include sizes(60.8vw, 58.9vw);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    &__img {
      @include sizes(60.8vw, 87.5vw);
    }
  }
}
