.boards-swipers {
  @include showDesc();

  &__container {
    @extend %flexColumn;
    margin-top: 17rem;
  }

  &__titles {
    @extend %flexCenterBetween;
    margin-bottom: 5rem;
  }
}

//-----------------Mob---------------//
@media screen and (max-width: 48em) {
  .boards-swipers {
    @include showMob();
    position: relative;

    &__container {
      @extend %flexColumn;
      align-items: center;
      padding-top: 24vw;
      padding-bottom: 20.8vw;
    }

    &__titles {
      margin-bottom: 7.5vw;
      text-align: center;
      flex-direction: column;

      .title {
        max-width: 90%;
      }

      .select {
        margin-top: 7.5vw;
      }

      .btn-primary {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
