.boards-swipers {
  @include showDesc();
  margin-top: 17rem;

  &__container {
    @extend %flexColumn;
  }

  &__titles {
    @extend %flexCenterBetween;
    margin-bottom: 5rem;
  }

  br {
    display: none;
  }
}

//-----------------Mob---------------//
@media screen and (max-width: 48em) {
  .boards-swipers {
    br {
      display: block;
    }

    @include showMob();
    position: relative;
    margin-top: 17rem;

    &__container {
      align-items: center;
      padding-bottom: 15.6rem;
    }

    &__titles {
      margin-bottom: 5.6rem;
      text-align: center;
      flex-direction: column;
      width: 100%;

      .title {
        max-width: 100%;
      }

      .select {
        margin-top: 5.6rem;
      }

      .btn-primary {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
