.cost {
  margin-top: 20.5rem;

  &__container {
    @extend %flexCenterBetween;
    column-gap: 9.4rem;
    border-radius: 3rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
    padding: 9rem;
    position: relative;

    &::after {
      @extend %fullSize;
      content: '';
      background: url('@img/bg/baner-bg-2.png') no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3rem;
      z-index: -1;
    }
  }

  &__desc {
    @extend %flexColumn;
    align-items: center;
  }

  &__desc-text {
    @extend %textRegular18;
    margin: 0 auto 3rem 0;
    max-width: 48rem;
  }

  &__form {
    @extend %flexCenterStart;
    column-gap: 3rem;
  }

  &__img {
    @include sizes(51rem, 45rem);
    position: absolute;
    bottom: 0;
    right: 9rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  .input input {
    width: 34rem;
  }
}

//------------------Mob----------------//
@media screen and (max-width: 48em) {
  .cost {
    margin: 18rem 0 0 0;

    &__container {
      border-radius: 4rem;
      padding: 9rem 3.2rem 0 3.2rem;
      flex-direction: column;

      &::after {
        @extend %fullSize;
        background: url('@img/bg/baner-bg-3-mob.png');
      }
    }

    &__desc-text {
      margin-bottom: 4rem;
      max-width: 85%;
      text-align: center;
    }

    &__form {
      flex-direction: column;
      row-gap: 5rem;
      width: 100%;
      margin-bottom: 2rem;
    }

    &__img {
      @include sizes(50rem, 41rem);
      position: relative;
      right: -1rem;

      img {
        @include sizes(100%, 100%);
        object-fit: contain;
      }
    }

    .title {
      margin-bottom: 2.4rem;
      text-align: center;
      font-size: 4.8rem;
      line-height: 130%;
      max-width: 45rem;
    }
  }
}
