.cost {
  &__container {
    @extend %flexCenterBetween;
    margin-top: 20.5rem;
    column-gap: 9.4rem;
    border-radius: 3rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
    padding: 9rem;
    position: relative;

    &::after {
      @extend %fullSize;
      content: '';
      background: url('@img/bg/baner-bg-2.png') no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 3rem;
      z-index: -1;
    }
  }

  &__desc-text {
    @extend %textRegular18;
    margin-bottom: 3rem;
    max-width: 48rem;
  }

  &__form {
    @extend %flexCenterStart;
    column-gap: 3rem;
  }

  &__form-img {
    @include sizes(2.4rem, 2.4rem);
  }

  &__img {
    @include sizes(51rem, 45rem);
    position: absolute;
    bottom: 0;
    right: 9rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  .input input {
    width: 34rem;
  }
}

//------------------Mob----------------//
@media screen and (max-width: 48em) {
  .cost {
    padding-top: 24vw;

    &__container {
      border-radius: 5.3vw;
      padding: 12.2vw 4.27vw 0 4.27vw;
      flex-direction: column;

      &::after {
        @extend %fullSize;
        background: url('@img/bg/baner-bg-3-mob.png');
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8.5vw;
      }
    }

    .title {
      margin-bottom: 3.2vw;
      text-align: center;
      font-size: 8.6vw;
    }

    &__desc-text {
      margin-bottom: 5.3vw;
      font-size: 3.88vw;
      text-align: center;
      line-height: 130%;
    }

    &__form {
      flex-direction: column;
      row-gap: 5.3vw;
    }

    &__img {
      @include sizes(71vw, 58vw);
      position: relative;
      bottom: 0;
      right: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
