.desc {
  &__container {
    padding-bottom: 28rem;
    display: flex;
    position: relative;
  }

  &__desc {
    padding: 9rem 30rem 9rem 9rem;
    border-radius: 4rem;
    background: $lightGrey;
    backdrop-filter: blur(2rem);
    width: 120rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    p {
      color: $grey;
      font-size: 18px;
      font-weight: 400;
      line-height: 2.4rem;
    }
  }

  &__imgs {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 69.1rem;
    top: 3rem;
    right: 0;
  }

  &__imgs-people {
    width: 69.1rem;
    height: 56.9rem;
    position: relative;
  }

  &__img-capas {
    width: 33.3rem;
    height: 14rem;
    position: relative;
    top: 5rem;
    right: -27rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
