.desc {
  margin-bottom: 28rem;

  &__container {
    display: flex;
    position: relative;
  }

  &__desc {
    @extend %flexColumn;
    padding: 9rem 30rem 9rem 9rem;
    border-radius: 4rem;
    background: $lightGrey;
    backdrop-filter: blur(2rem);
    width: 120rem;
    row-gap: 1.8rem;

    p {
      @extend %textRegular18;
      color: $grey;
    }
  }

  &__imgs {
    @extend %flexColumn;
    position: absolute;
    width: 69.1rem;
    top: 1.3rem;
    right: 0;
  }

  &__imgs-people {
    @include sizes(69.1rem, 56.9rem);
    position: relative;
  }

  &__img-capas {
    @include sizes(33.3rem, 14rem);
    position: relative;
    top: 5rem;
    right: -27rem;

    img {
      @extend %fullSize;
    }
  }
}

//------------------Mob-------------------//
@media screen and (max-width: 48em) {
  .desc {
    margin-bottom: 18rem;

    &__container {
      flex-direction: column;
      row-gap: 6rem;
    }

    &__desc {
      @extend %flexColumn;
      padding: 0;
      background: none;
      width: 100%;
      row-gap: 2rem;

      p {
        max-width: 90%;
        line-height: 128%;
      }

      .title {
        margin-bottom: 3.6rem;
      }
    }

    &__imgs {
      @include sizes(100%, 37rem);
      position: static;
    }

    &__imgs-people {
      @include sizes(100%, 37rem);

      img {
        @include sizes(100%, 100%);
        object-fit: cover;
        border-radius: 4rem;
      }
    }

    &__img-capas {
      display: none;
    }
  }
}
