.desc {
  &__container {
    margin-bottom: 28rem;
    display: flex;
    position: relative;
  }

  &__desc {
    @extend %flexColumn;
    padding: 9rem 30rem 9rem 9rem;
    border-radius: 4rem;
    background: $lightGrey;
    backdrop-filter: blur(2rem);
    width: 120rem;
    row-gap: 1.8rem;

    p {
      @extend %textRegular18;
      color: $grey;
    }
  }

  &__imgs {
    @extend %flexColumn;
    position: absolute;
    width: 69.1rem;
    top: 0;
    right: 0;
  }

  &__imgs-people {
    @include sizes(69.1rem, 56.9rem);
    position: relative;
  }

  &__img-capas {
    @include sizes(33.3rem, 14rem);
    position: relative;
    top: 5rem;
    right: -27rem;

    img {
      @extend %fullSize;
    }
  }
}

//------------------Mob-------------------//
@media screen and (max-width: 48em) {
  .desc {
    &__container {
      padding-bottom: 16vw;
      flex-direction: column;
      row-gap: 8vw;
    }

    &__desc {
      padding: 0;
      border-radius: 0;
      background: none;
      backdrop-filter: none;
      width: 100%;
      @extend %flexColumn;
      row-gap: 2.8vw;

      p {
        color: $grey;
        font-size: 3.8vw;
        line-height: 130%;
      }

      .title {
        margin-bottom: 4.8vw;
      }
    }

    &__imgs {
      @include sizes(100%, 50vw);
      position: static;
    }

    &__imgs-people {
      @include sizes(100%, 50vw);

      img {
        @include sizes(100%, 100%);
        object-fit: cover;
        border-radius: 5.3vw;
      }
    }

    &__img-capas {
      display: none;
    }
  }
}
