.find {
  &__container {
    @extend %flexColumn;
    @extend %flexCenter;
    margin: 16rem auto;
    border-radius: 3rem;
    background: $lightBlack;
    backdrop-filter: blur(2rem);
    padding: 12.5rem 38rem;
    position: relative;

    &::after {
      @extend %fullSize;
      content: '';
      background: url('@img/bg/baner-bg-2.png') no-repeat;
      position: absolute;
      background-size: cover;
      left: 0;
      top: 0;
      border-radius: 3rem;
      z-index: -1;
    }
  }

  &__text {
    @extend %textRegular20;
    text-align: center;
    margin-bottom: 4rem;
    max-width: 72rem;
  }

  &__form {
    @extend %flexCenterBetween;
    column-gap: 3rem;
  }

  .title {
    margin-bottom: 2rem;
  }
}

//------------------Mob-----------------//
@media screen and (max-width: 48em) {
  .find {
    padding: 24vw 0;

    &__container {
      border-radius: 8.5vw;
      padding: 16.5vw 3.2vw;
      text-align: center;

      &::after {
        @extend %fullSize;
        content: '';
        background: url('@img/bg/baner-bg-2-mob.png');
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8.5vw;
      }
    }

    .title {
      margin-bottom: 3.2vw;
      font-size: 6.4vw;
      line-height: 130%;
    }

    &__text {
      font-size: 4vw;
      margin-bottom: 5.3vw;
      max-width: 100%;
      line-height: 120%;
    }

    &__form {
      flex-direction: column;
      row-gap: 5.3vw;
      width: 100%;
    }
  }
}
