.find {
  padding: 17rem 0;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3rem;
    background: rgba(182, 194, 207, 0.15);
    backdrop-filter: blur(2rem);
    padding: 12.5rem 38rem;
    position: relative;

    &::after {
      content: '';
      background: url('../../../img/main/baner-bg-2.png');
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 3rem;
      z-index: -1;
    }
  }

  .title {
    margin-bottom: 2rem;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4rem;
    max-width: 70rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
  }
}
