.maps {
  .title {
    margin-bottom: 5rem;
  }

  &__container {
    padding-top: 17rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 3.2rem;
  }

  &__list-items {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
    overflow-y: scroll;
    max-height: 57rem;
    padding-right: 3.1rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: #e8edf2;
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange;
      border-radius: 0.5rem;
    }
  }

  &__list-item {
    border-radius: 3rem;
    padding: 2rem;
    background-color: $white;
    cursor: pointer;
    &.active {
      background-color: $lightGrey;
    }
  }

  &__list {
    .title-h3 {
      margin: 1.7rem 0 4.5rem 0;
    }
  }

  &__list-item-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.7rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $lightGrey;
  }

  &__maps-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-item-header-desc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 0.6rem;

    p {
      color: $grey;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
    }
  }

  .btn-tertiary {
    text-align: left;
    max-width: 18rem;
    padding: 0;
    span {
      white-space: wrap;
    }
    svg {
      position: absolute;
      top: calc(50% - 2.4rem / 2);
      right: 0;
    }
  }

  &__maps-header-selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4rem;
  }

  &__list-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.5rem;
    padding-top: 2.4rem;
  }

  &__list-item-footer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.4rem;
  }

  &__list-item-footer-item-img {
    width: 2rem;
    height: 2rem;
  }

  &__list-item-footer-item-text {
    color: $grey;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
  }
}
