.maps {
  .title {
    margin-bottom: 5rem;
  }

  &__container {
    margin-top: 17rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 3.2rem;
  }

  &__list-items {
    @extend %flexColumn;
    @include customScrol();
    row-gap: 1.8rem;
    overflow-y: scroll;
    max-height: 57rem;
    padding-right: 3.1rem;
  }

  &__list-item {
    border-radius: 3rem;
    padding: 1.8rem 2rem 2.3rem 2rem;
    background-color: $white;
    cursor: pointer;

    &.active {
      background-color: $lightGrey;
    }
  }

  &__list {
    .title-h3 {
      margin: 1.7rem 0 4.5rem 0;
    }
  }

  &__list-item-header {
    @extend %flexCenterStart;
    position: relative;
    column-gap: 1.7rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $lightGrey;
  }

  &__maps-header {
    @extend %flexCenterBetween;
  }

  &__list-item-header-img {
    @include sizes(7.7rem, 7.7rem);
  }

  &__list-item-header-desc {
    @extend %flexColumn;
    justify-content: space-between;
    row-gap: 0.6rem;

    p {
      @extend %textRegular15;
      color: $grey;
    }
  }

  &__list {
    .btn-tertiary {
      text-align: left;
      max-width: 18rem;
      padding: 0;

      span {
        white-space: wrap;
      }

      svg {
        position: absolute;
        top: calc(50% - 2.4rem / 2);
        right: 0;
      }
    }
  }

  &__maps-header-selects {
    @extend %flexCenterBetween;
    column-gap: 4rem;
  }

  &__list-item-footer {
    @extend %flexCenterBetween;
    column-gap: 4.5rem;
    padding-top: 2.4rem;
  }

  &__list-item-footer-item {
    @extend %flexCenterBetween;
    column-gap: 0.4rem;
  }

  &__list-item-footer-item-img {
    @include sizes(1.6rem, 1.6rem);
    svg {
      @extend %fullSize;
    }
  }

  &__list-item-footer-item-text {
    @extend %textRegular15;
    color: $grey;
  }

  .select-mult .select__input {
    width: 22.8rem;
  }
}
