.maps {
  @include showDesc();

  .title {
    margin-bottom: 5rem;
  }

  &__container {
    margin-top: 18rem;
  }

  &__title {
    @extend %flexCenterBetween;
    column-gap: 22rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 3.2rem;
  }

  &__list-items {
    @extend %flexColumn;
    @include customScrol();
    row-gap: 1.8rem;
    overflow-y: scroll;
    max-height: 57rem;
    padding-right: 3.1rem;
  }

  &__list-item {
    border-radius: 3rem;
    padding: 1.8rem 2rem 2.3rem 2rem;
    background-color: $white;
    cursor: pointer;

    &.active {
      background-color: $lightGrey;
    }
  }

  &__list {
    .title-h3 {
      margin: 1.7rem 0 4.5rem 0;
    }
  }

  &__list-item-header {
    @extend %flexCenterStart;
    position: relative;
    column-gap: 1.7rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid $lightGrey;
  }

  &__maps-header {
    @extend %flexCenterBetween;
    margin-bottom: 2rem;
  }

  &__list-item-header-img {
    @include sizes(7.7rem, 7.7rem);
  }

  &__list-item-header-desc {
    @extend %flexColumn;
    justify-content: space-between;
    row-gap: 0.6rem;

    p {
      @extend %textRegular15;
      color: $grey;
    }
  }

  &__list {
    .btn-tertiary {
      text-align: left;
      max-width: 18rem;
      padding: 0;

      span {
        white-space: wrap;
      }

      svg {
        position: absolute;
        top: calc(50% - 2.4rem / 2);
        right: 0;
      }
    }
  }

  &__filter {
    @extend %flexCenterBetween;
    column-gap: 4rem;
  }

  &__list-item-footer {
    @extend %flexCenterBetween;
    column-gap: 4.5rem;
    padding-top: 2.4rem;
  }

  &__list-item-footer-item {
    @extend %flexCenterBetween;
    column-gap: 0.4rem;
  }

  &__list-item-footer-item-img {
    @include sizes(1.6rem, 1.6rem);
    svg {
      @extend %fullSize;
    }
  }

  &__list-item-footer-item-text {
    @extend %textRegular15;
    color: $grey;
  }

  .select-mult .select__input {
    width: 22.8rem;
  }
}

@media screen and (max-width: 48em) {
  .maps {
    @include showMob();

    .map {
      @include sizes(100%, 118.6rem);
    }

    &__maps,
    &__list {
      width: 100%;
      animation: show 1.5s;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      width: 100%;
      column-gap: 10rem;
    }

    &__title-btns {
      display: flex;
      column-gap: 2rem;
    }

    &__title-btn {
      background: $lightGrey;
      border-color: $lightGrey;
    }

    &__list {
      .btn-tertiary {
        max-width: 38.6rem;

        span {
          font-size: 3.2rem;
        }

        svg {
          top: calc(50% + 4.8rem / 2);
        }
      }
    }

    &__list-item-header-desc {
      row-gap: 3.2rem;
    }

    &__list-items {
      padding-right: 1.4rem;
      max-height: 102rem;
    }

    &__list-item {
      padding: 3.2rem;
      border-radius: 4rem;
    }

    &__list-item-header {
      padding-bottom: 2.4rem;
    }

    &__list-item-header-img {
      @include sizes(15.4rem, 15.4rem);
    }

    &__list-item-header-desc p {
      font-size: 3rem;
      line-height: 120%;
    }

    &__list-item-footer {
      padding-top: 4rem;
    }

    &__list-item-footer-item {
      column-gap: 0.8rem;
    }

    &__list-item-footer-item-img {
      @include sizes(4rem, 4rem);
    }

    &__list-item-footer-item-text {
      font-size: 2.8rem;
      line-height: 130%;
    }

    &__filter {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      z-index: 4;
      padding: 3.2rem 3.2rem 7.6rem 3.2rem;
      flex-direction: column;
      justify-content: flex-start;
    }

    .title {
      margin-bottom: 5.6rem;
    }

    .title-h3 {
      font-size: 3.2rem;
      line-height: 130%;
      margin: 0;
    }
  }
}

// <div class="maps__title-btns --mob"><button type="button" class="btn btn-round maps__title-btn js-filter-open"><img src="@img/icons/icons.svg#filter" alt="filter"></button><button type="button" class="btn btn-round maps__title-btn js-btn" data-open-content="list"><img src="@img/icons/icons.svg#maps-list" alt="maps-list"></button></div>
