.select-house {
  margin-top: 7rem;

  &__container {
    @extend %flexColumn;
    row-gap: 5rem;
  }

  &__titles {
    @extend %flexCenterBetween;
    width: 100%;
  }

  &__items {
    @extend %flexCenterBetween;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  &__item {
    @extend %flexCenterBetween;
    border-radius: 10rem;
    border: 0.1rem solid $blue;
    column-gap: 6.5rem;
    padding: 1.3rem 1.5rem 1.3rem 3rem;
    width: 40.2rem;

    &:hover,
    &:active {
      transition: background 0.3s ease-in-out;
      background: $blue;

      .select-house__item-text {
        color: $white;
        transition: color 0.3s ease-in-out;
      }

      .select-house__item-circle {
        color: $blue;
        background: $white;
        transition:
          color 0.3s ease-in-out,
          background 0.3s ease-in-out;
      }
    }
  }

  &__item-text {
    @extend %textRegular18;
  }

  &__item-circle {
    @extend %flexCenter;
    @extend %textBold18;
    @include sizes(4.4rem, 4.4rem);
    border-radius: 50%;
    background-color: $blue;
    color: $white;
  }
}

//-------------------Mob---------------------//
@media screen and (max-width: 48em) {
  .select-house {
    margin-top: 17.5rem;

    &__container {
      position: relative;
      row-gap: 5.6rem;
      padding-bottom: 15rem;
      align-items: center;
    }

    &__titles {
      flex-direction: column;
      align-items: flex-start;

      .btn-primary {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &__items {
      row-gap: 2rem;
    }

    &__item {
      border-radius: 20rem;
      column-gap: 13rem;
      padding: 1.3rem 2rem 1.3rem 4rem;
      width: 100%;
    }

    &__item-text,
    &__item-circle {
      font-size: 3rem;
      line-height: 120%;
    }

    &__item-circle {
      @include sizes(6.8rem, 6.8rem);
    }
  }
}
