.services {
  &__container {
    @extend %flexCenterBetween;
    column-gap: 5rem;
    width: 152.4rem;
    margin: 0 auto;
    margin-top: 15rem;
  }

  &__img {
    @include sizes(65.6rem, 64.7rem);
    flex-shrink: 0;

    img {
      @extend %fullSize;
      object-fit: contain;
    }
  }

  &__desc {
    padding: 4.5rem 0 1.4rem 0;
  }

  &__text {
    @extend %textRegular20;
    margin-bottom: 3rem;
    max-width: 54.7rem;
  }

  &__items {
    @extend %flexColumn;
    row-gap: 2.2rem;
    margin-bottom: 3rem;
  }

  &__item {
    @extend %textRegular18;
    @extend %flexCenterStart;
    color: $grey;
    column-gap: 1.6rem;

    &::before {
      @include sizes(0.7rem, 0.7rem);
      content: '';
      background-color: $orange;
      border-radius: 50%;
    }
  }

  .btn {
    width: fit-content;
  }

  .title {
    margin-bottom: 2rem;
  }
}

//------------------Mob------------------//
@media screen and (max-width: 48em) {
  .services {
    &__container {
      width: 100%;
      padding-top: 24vw;
      flex-direction: column-reverse;
      row-gap: 6.4vw;
    }

    &__img {
      width: 100%;
      height: 100%;
    }

    .title {
      margin-bottom: 7.5vw;
    }

    &__desc {
      padding: 0;
    }

    &__text {
      font-size: 4vw;
      line-height: 120%;
      margin-bottom: 5.3vw;
    }

    &__items {
      row-gap: 3.2vw;
      margin-bottom: 8vw;
    }

    &__item {
      font-size: 3.75vw;
      line-height: 130%;
      column-gap: 2.2vw;

      &::before {
        @include sizes(2vw, 2vw);
        flex-shrink: 0;
      }
    }

    .btn {
      width: fit-content;
    }
  }
}
