.services {
  margin-top: 15rem;

  &__container {
    @extend %flexCenterBetween;
    column-gap: 5rem;
    width: 152.4rem;
    margin: 0 auto;
  }

  &__img {
    @include sizes(65.6rem, 64.7rem);
    flex-shrink: 0;

    img {
      @extend %fullSize;
      object-fit: contain;
    }
  }

  &__desc {
    padding: 4.5rem 0 1.4rem 0;
  }

  &__text {
    @extend %textRegular20;
    margin-bottom: 3rem;
    max-width: 54.7rem;
  }

  &__items {
    @extend %flexColumn;
    row-gap: 2.2rem;
    margin-bottom: 3rem;
  }

  &__item {
    @extend %textRegular18;
    @extend %flexCenterStart;
    color: $grey;
    column-gap: 1.6rem;

    &::before {
      @include sizes(0.7rem, 0.7rem);
      content: '';
      background-color: $orange;
      border-radius: 50%;
    }
  }

  .title {
    margin-bottom: 2rem;
  }
}

//------------------Mob------------------//
@media screen and (max-width: 48em) {
  .services {
    margin-top: 18rem;

    &__container {
      width: 100%;
      flex-direction: column-reverse;
      row-gap: 4.8rem;
    }

    &__img {
      @include sizes(100%, 100%);
    }

    &__desc {
      padding: 0;
    }

    &__text {
      max-width: 100%;
      margin-bottom: 4rem;
    }

    &__items {
      row-gap: 2.4rem;
      margin-bottom: 6rem;
    }

    &__item {
      column-gap: 1.6rem;

      &::before {
        @include sizes(1.4rem, 1.4rem);
        flex-shrink: 0;
      }
    }

    .title {
      margin-bottom: 5.6rem;
    }
  }
}
