.services {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.8rem;
    width: 144.8rem;
    margin: 0 auto;
    padding-top: 17rem;
  }

  &__img {
    width: 65.6rem;
    height: 64.7rem;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .title {
    margin-bottom: 2rem;
  }

  &__desc {
    padding: 4.5rem 0 1.4rem 0;
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 3rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
    margin-bottom: 3rem;
  }

  &__item {
    color: $grey;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.6rem;

    &::before {
      content: '';
      background-color: $orange;
      height: 0.7rem;
      width: 0.7rem;
      border-radius: 50%;
    }
  }

  .btn {
    width: fit-content;
  }
}

@media screen and (max-width: 48em) {
  .services {
    &__container {
      width: 100%;
      padding-top: 24vw;
      flex-direction: column-reverse;
      row-gap: 6.4vw;
    }

    &__img {
      width: 100%;
      height: 100%;
    }

    .title {
      margin-bottom: 7.5vw;
    }

    &__desc {
      padding: 0;
    }

    &__text {
      font-size: 4vw;
      line-height: 120%;
      margin-bottom: 5.3vw;
    }

    &__items {
      row-gap: 3.2vw;
      margin-bottom: 8vw;
    }

    &__item {
      font-size: 3.75vw;
      line-height: 130%;
      column-gap: 2.2vw;

      &::before {
        height: 2vw;
        width: 2vw;
        flex-shrink: 0;
      }
    }

    .btn {
      width: fit-content;
    }
  }
}
