* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.webp {
  background-size: cover;
}

body {
  min-height: 100vh;
  position: relative;
  @extend %flexColumn;

  &.lock {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

.overlay {
  @extend %fullSize;
  background: rgba(194, 199, 200, 0.79);
  backdrop-filter: blur(0.5rem);
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;

  &.active {
    display: flex;
    animation: show 0.2s;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.logo {
  color: $black;
  font-family: Avanti, sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
}

.title {
  @extend %textH1;

  br {
    display: none;
  }
}

.title-h3 {
  @extend %textH3;
}

.hide {
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 0;
}

//------------------Mob----------------//
@media screen and (max-width: 48em) {
  .logo {
    font-size: 4rem;
  }

  .title {
    br {
      display: block;
    }
  }
}
