$blue: #2ecdf0;
$orange: #ffa41c;
$black: #1a1a1a;
$grey: #8b8d95;
$lightGrey: #f0f3f7;
$lightBlue: #eff7ff;
$gradientBlue: linear-gradient(124deg, #2ecdf0 25.14%, rgba(46, 205, 240, 0.24) 90.92%);
$background: #ffffff;
$white: #ffffff;

$transition: all 0.2s ease-out;
