$blue: #2ecdf0;
$orange: #ffa41c;
$black: #1a1a1a;
$lightBlack: rgba(182, 194, 207, 0.15);
$grey: #8b8d95;
$lightGrey: #f0f3f7;
$lightBlue: #eff7ff;
$gradientBlue: linear-gradient(124deg, #2ecdf0 25.14%, rgba(46, 205, 240, 0.24) 90.92%);
$gradientBlue2: linear-gradient(151deg, #2ecdf0 9.04%, rgba(46, 205, 240, 0.24) 116.35%), rgba(156, 171, 189, 0.15);
$background: #ffffff;
$white: #ffffff;
$scrol: #e8edf2;
$backgroundBaner: #f6f8fbb8;
$darkGrey: rgba(240, 243, 247, 0.51);
