* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// .container {
//   overflow: hidden;
// }

.webp {
  background-size: cover;
}

body {
  &.lock {
    overflow: hidden;
  }
}

.overlay {
  @extend %fullSize;
  background: rgba(194, 199, 200, 0.79);
  backdrop-filter: blur(0.5rem);
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;

  &.active {
    display: flex;
    animation: show 0.2s;
  }
}

.logo {
  color: $black;
  font-family: Avanti, sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
}

.title {
  @extend %textH1;
}

.title-h3 {
  @extend %textH3;
}

.hide {
  display: none;
}

//------------------Mob----------------//
@media screen and (max-width: 48em) {
  .logo {
    font-size: 4rem;
  }
}
