* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  color: $black;
  font-family: Avanti, sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.92px;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 105%;
}

.title-h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 130%;
}
