%fullSize {
  width: 100%;
  height: 100%;
}

%hover {
  transition: $transition;
  cursor: pointer;
}

//-----Flex----------//
%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flexCenterEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

%flexEndCenter {
  display: flex;
  align-items: end;
  justify-content: center;
}

%flexCenterStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flexStartBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
//-------------------------//

//--------Texts----------//
%textBold15 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;

  @media screen and (max-width: 48em) {
    font-size: 2.4rem;
    line-height: 130%;
  }
}

%textRegular15 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;

  @media screen and (max-width: 48em) {
    font-size: 2.4rem;
    line-height: 130%;
  }
}

%textBold18 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;

  @media screen and (max-width: 48em) {
    font-size: 2.8rem;
    line-height: 130%;
  }
}

%textRegular18 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;

  @media screen and (max-width: 48em) {
    font-size: 2.8rem;
    line-height: 130%;
  }
}

%textRegular20 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 130%;

  @media screen and (max-width: 48em) {
    font-size: 3rem;
    line-height: 120%;
  }
}

%textBold20 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 130%;

  @media screen and (max-width: 48em) {
    font-size: 3rem;
    line-height: 120%;
  }
}

%textBold24 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;

  @media screen and (max-width: 48em) {
    font-size: 3.2rem;
    line-height: 130%;
  }
}

%textH3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;

  @media screen and (max-width: 48em) {
    font-size: 4.8rem;
    line-height: 130%;
  }
}

%textNums {
  font-size: 6rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 48em) {
    font-size: 6.4rem;
  }
}

%textH1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 105%;

  @media screen and (max-width: 48em) {
    font-size: 6.4rem;
  }
}
//-----------Texts-------------//
