.bottom-zakrep {
  display: none;
}

@media screen and (max-width: 48em) {
  .bottom-zakrep {
    position: fixed;
    bottom: 0;
    z-index: 3;
    margin: 0 auto;
    left: 0;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    padding: 4rem 0;
    border-radius: 4rem 4rem 0 0;
    background: rgba(182, 194, 207, 0.15);
    box-shadow: -0.2rem 0 2rem 0 rgba(76, 98, 187, 0.17);
    backdrop-filter: blur(3.8rem);
    width: 100%;
    justify-content: center;
    display: flex;

    &.scroll {
      opacity: 0;
      visibility: hidden;
    }

    &__phones {
      flex-direction: row-reverse;
      column-gap: 5.6rem;
      justify-content: space-between;

      .phones__phone {
        flex-direction: row-reverse;
        column-gap: 2.4rem;
        align-items: center;
      }

      .phones__phone-numbers div:first-child {
        margin: 0;
        color: $black;
        font-size: 3.2rem;
      }

      .btn-primary {
        width: 30rem;
        padding: 2.5rem 0;
      }
    }
  }
}
