.breadcrumbs {
  margin: 1rem 0 2rem;

  &__container {
    @extend %flexCenterStart;
    column-gap: 1rem;
  }

  a,
  span {
    @extend %textRegular18;
  }

  a {
    @extend %flexCenter;
    position: relative;
    column-gap: 1rem;
    color: $grey;

    &:not(:last-child):after {
      content: '';
      @include sizes(0.5rem, 0.5rem);
      border-radius: 50%;
      background-color: $blue;
    }
  }

  span {
    color: $black;
  }
}

@media screen and (max-width: 48em) {
  .breadcrumbs {
    margin: 6.4rem 0 4rem 0;

    &__container {
      column-gap: 2rem;
    }

    a {
      column-gap: 2rem;

      &:not(:last-child):after {
        @include sizes(1rem, 1rem);
      }
    }
  }
}
