.card {
  @include sizes(54.7rem, 55.2rem);
  @include showDesc();
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  // transition: $transition;

  @media screen and (min-width: 48em) {
    &:hover {
      box-shadow:
        0.2rem 0.4rem 1rem 0 rgba(221, 229, 236, 0.5),
        -0.2rem -0.2rem 1rem 0 rgba(221, 229, 236, 0.48);

      .card__bullets {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__swiper {
    display: flex;
    justify-content: center;
  }

  &__slider-wrapper {
    cursor: pointer;
  }

  &-slider {
    position: relative;
    z-index: 0;

    .swiper-wrapper {
      z-index: 0;
    }
  }

  &__slider-slide {
    position: relative;

    img {
      width: 99.8%;
    }
  }

  &__like {
    @include sizes(4rem, 4rem);
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.2rem);
    padding: 0.8rem;
    z-index: 2;

    img {
      &:first-child {
        display: block;
      }
      &:last-child {
        display: none;
      }
    }

    &.active {
      img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }
  }

  &__slider-plushs {
    padding: 0 2.4rem;

    .card__items {
      column-gap: 0;
    }
    .card__item,
    .card__icon-item {
      width: fit-content;
      cursor: default;
    }
  }

  &__desc {
    @extend %flexColumn;
    @include sizes();
    padding-top: 1.3rem;
    position: absolute;
    top: 13rem;
  }

  &__desc-top {
    @extend %flexCenterBetween;
    column-gap: 5rem;
    padding: 0 2.4rem;
    margin-bottom: 0.8rem;

    .title-h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__desc-rec {
    padding: 0.9rem 0.9rem 0.3rem 0.9rem;
    border-radius: 1.2rem;
    background-color: $white;
  }

  &__desc-rec-text {
    @extend %textRegular15;
    color: $grey;
    margin-top: -0.6rem;
  }

  &__desc-rec-like {
    @extend %flexCenter;

    img {
      @include sizes(2rem, 2rem);
      margin-right: 0.3rem;
    }

    span {
      @extend %textBold15;
    }
  }

  &__pagination {
    position: absolute;
    top: 21.6rem;
    left: calc(50% - 4rem / 2);
  }

  &__bullets {
    @extend %flexCenter;
    column-gap: 0.8rem;
    opacity: 0;
    visibility: hidden;
    // transition: $transition;
    z-index: 4;
    position: relative;

    span {
      @include sizes(0.8rem, 0.8rem);
      border-radius: 2rem;
      opacity: 1;
      cursor: pointer;
      margin: 0;
    }

    .swiper-pagination-bullet {
      background: $white;
    }

    .swiper-pagination-bullet-active {
      background-color: $blue;
    }
  }

  &__items {
    display: flex;
    column-gap: 0.8rem;
  }

  &__items-top {
    @extend %flexCenterBetween;
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    column-gap: 1.6rem;
  }

  &__item {
    @extend %flexCenter;
    @extend %textBold18;
    column-gap: 0.4rem;
    padding: 0.8rem 1rem;
    border-radius: 1.2rem;
    background-color: $white;

    span {
      @extend %textRegular15;
      color: $grey;
    }

    img {
      @include sizes(1.6rem, 1.6rem);
    }
  }

  &__items-bottom {
    @extend %flexCenterBetween;
    column-gap: 1rem;
    position: absolute;
    top: 23.5rem;
    left: 2.4rem;

    .card__item {
      font-size: 2.4rem;

      &:first-child {
        padding: 1rem 1.6rem;
        column-gap: 0;
        align-items: baseline;
      }

      &:last-child {
        padding: 0.9rem 1.4rem;
      }

      div {
        @extend %textBold20;

        margin-top: 0.4rem;
      }

      span {
        &:first-child {
          @extend %textBold15;
          color: $black;
        }

        &:last-child {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 120%;
          color: $grey;
          padding-left: 0.4rem;
        }
      }
    }
  }

  &__substract {
    @include sizes(100%, 37.2rem);
    background: url('@img/cards/card-substract.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &__icon {
    @extend %flexCenter;
    @include sizes(4rem, 4rem);
    background: $white;
    border-radius: 0.6rem;
    flex-shrink: 0;
    padding: 1rem;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__desc-location {
    @extend %flexCenterBetween;
    column-gap: 2rem;
    padding: 0 2.4rem;
    margin-bottom: 1.6rem;
  }

  &__desc-location-address {
    @extend %flexCenter;
    column-gap: 0.5rem;
  }

  &__desc-location-text {
    @extend %textRegular18;
    width: 22rem;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(26, 26, 26, 0.7);
    text-overflow: ellipsis;
  }

  &__items-services {
    @include noScrollLine();
    overflow-x: scroll;
    margin-bottom: 1.6rem;

    .card__item {
      @extend %textRegular18;
      white-space: nowrap;
      padding: 0.6rem 1rem;
    }
  }

  &__items-shadow {
    position: absolute;
    right: 0;
    z-index: 2;

    img {
      @include sizes(8.8rem, 4rem);
    }
  }

  &__items-shadow-services {
    top: 12.5rem;
  }

  &__items-shadow-icons {
    top: 17.7rem;
  }

  &__icon-item {
    @extend %flexCenter;
    column-gap: 0.5rem;
  }

  &__icon-text {
    @extend %textRegular18;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &__icon-items {
    @include noScrollLine();
    display: flex;
    column-gap: 2.8rem;
    overflow-x: scroll;
  }

  .btn-tertiary {
    padding: 0;
    column-gap: 0.5rem;

    span {
      font-size: 1.8rem;
    }

    svg {
      @include sizes(1.7rem, 1.7rem);
    }
  }
}

.cards {
  &-slider {
    @include sizes($width: 170rem);
    margin-bottom: 2rem;
  }

  &__navigation {
    @include sizes($width: 42rem);
    @extend %flexCenterBetween;
    padding: 1.6rem 2rem;
    border-radius: 7.2rem;
    background-color: $white;
    margin: 0 auto 10rem auto;
    column-gap: 3rem;
    box-shadow: 0.5rem 1.5rem 7rem 0 $lightGrey;

    &-btn {
      @include sizes(2.4rem, 2.4rem);
      flex-shrink: 0;

      &:first-child {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    column-gap: 1vw;

    span {
      @include sizes(3.2vw, 1.1vw);
      border-radius: 5.3vw;
    }
  }

  &__bullets {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;

    .swiper-pagination-bullet {
      @extend %flexCenter;
      @extend %textRegular15;
      @include sizes(2.8rem, 2.8rem);
      background: none;
      opacity: 1;
      position: relative;

      &:last-child::before,
      &:first-child::after {
        @include sizes(1.3rem, 2.2rem);
        @extend %textRegular15;
        content: '...';
        display: none;
        position: absolute;
      }

      &:last-child::before {
        left: -2.3rem;
      }

      &:first-child::after {
        right: -2.3rem;
      }

      &.hide {
        display: none;
      }

      &.show:first-child {
        margin-right: 2.3rem;
        &::after {
          display: block;
        }
      }

      &.show:last-child {
        margin-left: 2.3rem;

        &::before {
          display: block;
        }
      }
    }

    .swiper-pagination-bullet-active {
      border-radius: 50%;
      background-color: $blue;
      color: $white;
    }
  }

  .swiper-button-disabled {
    opacity: 0.5;
  }
}

.points-next,
.points-prev {
  @include sizes(1.3rem, 2.2rem);
  @extend %textRegular15;
  @extend %flexEndCenter;
}

//---------------------Mob----------------------
@media screen and (max-width: 48em) {
  .card {
    @include sizes(68.6rem, 81rem);
    @include showMob();
    border-radius: 4rem;

    &:not(:nth-child(-n + 3)) {
      display: none;
    }

    &__like {
      @include sizes(6.8rem, 6.8rem);
      border-radius: 2rem;
      padding: 1.65rem;
    }

    &__substract {
      @include sizes(100%, 56.4rem);
      background: url('@img/cards/card-substract-mob.svg') no-repeat center;
      background-size: cover;
    }

    &__desc {
      @include sizes();
      padding-top: 2.4rem;
      top: auto;
      bottom: 0;
      padding-bottom: 4rem;
    }

    &__desc-top {
      padding: 0 2.4rem;
      margin-bottom: 2.4rem;
    }

    &__desc-rec {
      padding: 0.4rem 2.4rem;
      border-radius: 2rem;
    }

    &__desc-rec-text {
      font-size: 2.8rem;
      margin-top: -0.9rem;
    }

    &__desc-rec-like {
      img {
        @include sizes(3.2rem, 3.2rem);
        margin-right: 0.6rem;
      }

      span {
        font-size: 2.8rem;
      }
    }

    &__pagination {
      top: 38.4rem;
    }

    &-slider {
      z-index: 0;
    }

    &__bullets {
      column-gap: 0.8rem;
      opacity: 1;
      visibility: visible;

      span {
        @include sizes(0.8rem, 0.8rem);
        border-radius: 4rem;
      }
    }

    &__items-top {
      top: 2.4rem;
      left: 2.4rem;
    }

    &__items {
      column-gap: 1.4rem;
    }

    &__item {
      column-gap: 1.5rem;
      padding: 1.6rem 2rem;
      border-radius: 2rem;

      img {
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &__items-bottom {
      column-gap: 1.6rem;
      top: 29.4rem;
      left: 2.4rem;

      .card__item {
        font-size: 3.2rem;

        &:first-child {
          padding: 1.6rem 3rem;
        }

        &:last-child {
          font-size: 2.8rem;
          padding: 1.6rem 1.6rem;
        }

        div {
          margin-top: 0.6rem;
        }

        span {
          font-size: 3.2rem;

          &:last-child {
            font-size: 3.2rem;
          }
        }
      }
    }

    .btn-tertiary {
      padding: 0;
      column-gap: 1.6rem;

      span {
        font-size: 3rem;
      }

      svg {
        @include sizes(5.8rem, 4.8rem);
      }
    }

    &__icon {
      @include sizes(6.4rem, 6.4rem);
      padding: 1.4rem;
      border-radius: 1.2rem;
    }

    &__desc-location {
      column-gap: 1.4rem;
      padding: 0 0 0 2.4rem;
      margin-bottom: 2.4rem;
    }

    &__desc-location-address {
      column-gap: 0.8rem;
    }

    &__desc-location-text {
      width: 20rem;
    }

    &__items-services {
      margin-bottom: 2.4rem;

      .card__item {
        padding: 1.4rem 2rem;
      }

      .card__items-shadow {
        display: block;
      }
    }

    &__items-shadow {
      display: none;
      top: 20.6rem;

      img {
        @include sizes(18rem, 6.8rem);
      }
    }

    &__icon-item {
      column-gap: 0.8rem;
    }

    &__icon-items {
      column-gap: 3.8rem;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      column-gap: 0.75rem;

      span {
        @include sizes(2.4rem, 0.825rem);
        border-radius: 4rem;
      }
    }

    .title-h3 {
      font-size: 3.2rem;
    }
  }

  .cards {
    &-slider {
      @include sizes();
      row-gap: 3.2rem;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__navigation,
    &__bullets {
      display: none;
    }
  }
}

@media screen and (min-width: 48em) {
  .card-hor {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    // transition: $transition;
    cursor: pointer;

    &:hover {
      box-shadow: -5rem 2.2rem 10rem 0 rgba(76, 98, 187, 0.18);
    }

    .btn-tertiary {
      column-gap: 1.2rem;

      span {
        font-size: 2rem;
        color: $blue;
      }

      svg {
        @include sizes(2.6rem, 2.6rem);
        stroke: $blue;
      }
    }

    display: flex;
    @include sizes(126.5rem, 35.2rem);
    @include showDesc();

    .card {
      &__swiper {
        height: 100%;
      }

      &__desc-location-address {
        column-gap: 1.3rem;
      }

      &-slider,
      &__swiper {
        overflow: hidden;
        width: 70.7rem;
        height: 35.2rem;

        img {
          height: 100%;
        }
      }

      &__items-top {
        bottom: 2.4rem;
        top: auto;
      }

      &__pagination {
        top: auto;
        bottom: 8rem;
        left: 18.4rem;
      }

      &__like {
        left: 2.4rem;
      }

      &__substract {
        position: absolute;
        height: 100%;
        width: 86rem;
        right: 0;
        left: auto;
        background: url(../img/cards/card-substract-hor.svg) no-repeat center;
        background-size: cover;
      }

      &__desc {
        top: 0;
        padding-top: 2.8rem;
        width: 90%;
        left: auto;
        right: 0;
      }

      &__desc-top {
        margin-bottom: 1.2rem;
        padding: 0 2.8rem 0 0;
      }

      &__desc-location {
        margin-bottom: 2rem;
        padding: 0;
      }

      &__desc-recs {
        display: flex;
        flex-shrink: 0;
        column-gap: 0.8rem;
      }

      &__item {
        padding: 1.2rem 1rem;
      }

      &__items {
        .card__item {
          padding: 0.6rem 1rem;
        }
      }

      &__items-services {
        margin-bottom: 2rem;
        padding: 0 2.8rem 0 0;
      }

      &__icon-items {
        margin-bottom: 3.2rem;
        padding: 0 2.8rem 0 0;
      }

      &__icon-item {
        column-gap: 1.2rem;
      }

      &__desc-location-text {
        width: 100%;
      }

      &__costs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.8rem 0 0;
      }

      &__cost {
        padding: 0.6rem 1rem;
        border-radius: 1.2rem;
        background: $white;
        backdrop-filter: blur(0.2rem);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 120%;

        span {
          &:nth-child(2) {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 125%;
          }

          &:nth-child(1),
          &:nth-child(3) {
            color: $grey;
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 120%;
          }
        }
      }
    }
  }
}
