input[type='file'] {
  display: none;
}

.input {
  @extend %flexCenterBetween;
  border-radius: 6rem;
  background: $white;
  column-gap: 1rem;
  cursor: pointer;
  border: 0.1rem solid transparent;
  padding: 2.2rem 2rem 2.2rem 3rem;

  input {
    @extend %textBold18;
    width: 30.6rem;
    border: 0;
    flex-shrink: 0;

    &::placeholder {
      color: $grey;
      font-weight: 400;
    }
  }

  &:focus-within {
    border: 1px solid $blue;
  }
}

//------------Mob---------------//
@media screen and (max-width: 48em) {
  .input {
    @include sizes();
    border-radius: 12rem;
    column-gap: 0.8rem;
    padding: 2.3rem 4rem;
    justify-content: flex-start;

    img {
      @include sizes(4.8rem, 4.8rem);
    }

    input {
      width: 90%;
      font-size: 3rem;
    }
  }
}
