.select {
  position: relative;
  @include showDesc();

  &.active {
    .select__content {
      opacity: 1;
      max-height: 26.4rem;
      z-index: 10;
      visibility: visible;
    }

    .select__header {
      border: 1px solid $blue;
    }

    .select__btn {
      transform: rotate(180deg);
    }
  }

  &__empty {
    @extend %textBold20;
    display: none;

    &.active {
      display: block;
    }
  }

  &__header {
    @extend %flexCenter;
    @extend %hover;
    position: relative;
    border: 1px solid transparent;

    &.active {
      button {
        transform: rotate(180deg);
      }
    }

    &:focus-within {
      border: 1px solid $blue;
    }
  }

  &__btn {
    @include sizes(2.4rem, 2.4rem);
    @extend %hover;
  }

  &__content {
    @extend %flexColumn;
    @extend %hover;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    top: 3rem;
    right: -3rem;
    padding: 3rem 1rem 3rem 3rem;
    border-radius: 3rem;
    background: $background;
    box-shadow: 0.5rem 1.5rem 7rem 0 rgba(143, 155, 205, 0.25);
    overflow: hidden;
    height: 26.4rem;
    max-height: 0;
  }

  &__items {
    max-height: 20rem;
    overflow-y: auto;
    width: max-content;
    padding-right: 2rem;
    @include noScrollLine();
  }

  &__item {
    border-radius: 1rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    &:hover {
      @extend %hover;
      background-color: $lightGrey;
    }

    label {
      @extend %hover;
      @extend %textBold18;
      padding: 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
    }
  }

  &__value {
    @extend %textBold18;
    margin-right: 2rem;
  }

  &__icon {
    @include sizes(2.4rem, 2.4rem);
    margin-right: 0.6rem;
  }
}

.select-sort,
.select-mult {
  .select__header {
    background-color: $lightGrey;
    padding: 2.2rem 2rem 2.2rem 3rem;
    border-radius: 5.1rem;
  }

  .select__content {
    top: 8.5rem;
    right: 0;
  }
}

.select-sort {
  .select__items {
    width: 100%;
    height: fit-content;
    max-height: fit-content !important;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      @include noScrollLine();
    }
  }
  .select__content {
    width: 110%;
    height: fit-content;
    max-height: fit-content !important;
  }
}

.select-sort,
.select-baner,
.select-region {
  input {
    display: none;

    &:checked + label {
      color: $orange;
    }
  }
}

.select-mult {
  .select__input {
    @extend %textBold20;
    border: 0;
    background: transparent;
    width: 29.5rem;

    &::placeholder {
      color: $black;
    }
  }

  .select__item {
    cursor: pointer;
    user-select: none;
    position: relative;

    label,
    span {
      @extend %textRegular18;
    }

    label {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      position: relative;

      &::before {
        @include sizes(2.4rem, 2.4rem);
        flex-shrink: 0;
        content: '';
        border-radius: 0.5rem;
        display: inline-block;
        position: relative;
        left: 0;
        transition: $transition;
        background-size: cover;
        background: $lightGrey;
      }
    }

    span {
      color: $grey;
    }

    &:hover {
      label {
        &::before {
          background-size: cover;
          background: $white;
          transition: $transition;
        }
      }
    }

    input[type='checkbox'] {
      @include sizes(0, 0);
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
    }

    input[type='checkbox']:checked + label:before {
      background-position: 50% 50%;
      background-size: 2.4rem 2.4rem;
      background-repeat: no-repeat;
      background-image: url('@img/icons/icons.svg#checkbox-active');
    }
  }

  .select__content,
  .select__items {
    width: 100%;
  }
}

.select-baner {
  .select__icon {
    margin-right: 1rem;
  }

  .select__header {
    background-color: $white;
    padding: 2.2rem 2rem 2.2rem 3rem;
    border-radius: 5.9rem;
  }

  .select__value {
    @extend %textBold20;
    width: 35rem;
  }

  .select__content {
    left: 0;
    top: 8.5rem;
  }

  .select__items {
    width: 100%;
  }
}

.select-catalog {
  .select {
    &__header {
      justify-content: space-between;
      padding: 1.1rem 2rem;
      background-color: $lightGrey;
      border-radius: 3rem;
    }

    &__input {
      @extend %textRegular15;
      border: 0;
      background-color: transparent;
      width: 85%;
    }

    &__btn {
      @include sizes(2rem, 2rem);
    }

    &__content {
      opacity: 1;
      max-height: 100%;
      position: static;
      background: none;
      visibility: visible;
      box-shadow: none;
      border-radius: 0;
      padding: 1.2rem 0 0 0;
      height: 26.4rem;
      margin-bottom: 1.6rem;
    }

    &__items {
      width: 100%;
      max-height: 26.4rem;
      height: 100%;
    }

    &__item {
      cursor: pointer;
      user-select: none;
      position: relative;

      label,
      span {
        @extend %textRegular18;
      }

      label {
        display: flex;
        align-items: center;
        column-gap: 1.2rem;
        position: relative;

        &::before {
          @include sizes(2.4rem, 2.4rem);
          flex-shrink: 0;
          content: '';
          border-radius: 0.5rem;
          display: inline-block;
          position: relative;
          left: 0;
          transition: $transition;
          background: $lightGrey;
        }
      }

      span {
        color: $grey;
      }

      &:hover {
        label {
          &::before {
            transition: $transition;
            background-size: cover;
            background: $white;
          }
        }
      }

      input[type='checkbox'] {
        @include sizes(0, 0);
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
      }

      input[type='checkbox']:checked + label:before {
        background-position: 50% 50%;
        background-size: 2.4rem 2.4rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('@img/icons/icons.svg#checkbox-active');
      }
    }
  }
}

.select-sort {
  .select__content {
    height: fit-content;
    max-height: fit-content;
  }
  .select__items {
    height: fit-content;
    max-height: fit-content;
  }
}

//---------------Mob------------------//
@media screen and (max-width: 48em) {
  .select {
    width: 100%;
    @include showMob();

    &.active {
      .select__content {
        max-height: 40rem;
      }
    }

    &__tit {
      font-size: 4rem;
      font-weight: 700;
      line-height: 130%;
      margin-bottom: 3.2rem;
    }

    &__yet {
      color: $orange;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 133%;
      margin-top: 3.2rem;
    }

    &__btn {
      @include sizes(4.8rem, 4.8rem);
    }

    &__content {
      padding: 4.8rem 2.4rem;
      border-radius: 4rem;
      height: 40rem;
    }

    &__items {
      max-height: 37.5rem;
      padding-right: 2.4rem;
    }

    &__item {
      border-radius: 2.4rem;

      &:not(:last-child) {
        margin-bottom: 2.1rem;
      }
    }

    &__icon {
      @include sizes(4.8rem, 4.8rem);
      margin-right: 0.8rem;
    }
  }

  .select-sort,
  .select-mult {
    .select__header {
      padding: 2.4rem 2.4rem 2.4rem 4rem;
      border-radius: 12rem;
      justify-content: space-between;
    }

    .select__items {
      width: 99%;
      overflow-y: auto;
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        display: block;
      }
    }

    .select__content {
      top: 11rem;
    }
  }

  .select__items {
    width: auto;
  }

  .select-sort {
    .select__items {
      overflow-y: unset;
      height: fit-content;
      max-height: fit-content;
    }
    .select__content {
      height: fit-content;
      max-height: fit-content !important;
      width: 100%;
    }
  }

  .select-mult {
    &.active {
      .select__content {
        max-height: 43.5rem;
      }
    }
    .select__input {
      width: 22rem;
    }

    .select__content {
      height: 43.5rem;
    }

    .select__item {
      label {
        &::before {
          content: '';
          border-radius: 1rem;
          @include sizes(4.8rem, 4.8rem);
        }
      }

      input[type='checkbox']:checked + label:before {
        background-size: 4.8rem 4.8rem;
      }
    }
  }

  .select-baner {
    &.active {
      .select__content {
        max-height: 37.5rem;
        z-index: 10;
        width: 100%;
      }
    }

    .select__content {
      height: 37.5rem;
    }

    .select__icon {
      margin-right: 0.8rem;
      flex-shrink: 0;
    }

    .select__header {
      padding: 2.4rem 2.4rem 2.4rem 4rem;
      border-radius: 12rem;
    }

    .select__value {
      width: 100%;
      font-size: 2.8rem;
      line-height: 130%;
    }

    .select__icon {
      @include sizes(4.8rem, 4.8rem);

      img {
        @include sizes(100%, 100%);
      }
    }

    .select__content {
      top: 11rem;
    }
  }

  .select-catalog {
    .select {
      &__header {
        padding: 2rem 4rem;
        border-radius: 11.8rem;
      }

      &__input {
        width: 100%;
        font-size: 3rem;
      }

      &__btn {
        @include sizes(4.8rem, 4.8rem);
      }

      &__content {
        padding: 2.4rem 0 0 0;
        height: 48.4rem;
        margin-bottom: 3.2rem;
      }

      &__items {
        max-height: 48.4rem;
      }

      &__item {
        margin-bottom: 0.4rem;
        label {
          font-size: 3rem;
          column-gap: 2rem;
          padding: 2rem;

          span {
            font-size: 3rem;
          }
          &::before {
            content: '';
            border-radius: 1rem;
            @include sizes(4.8rem, 4.8rem);
          }
        }

        input[type='checkbox']:checked + label:before {
          background-size: 4.8rem 4.8rem;
        }
      }
    }
  }
}
