@media screen and (max-width: 48em) {
  .sort {
    width: 100%;
    padding: 6rem;

    &__item {
      label {
        display: flex;
        align-items: center;
        column-gap: 2.4rem;
        position: relative;
        font-size: 3rem;
        font-weight: 400;
        line-height: 120%;
        padding: 2rem 2rem 2rem 0;

        &::before {
          @include sizes(4.8rem, 4.8rem);
          flex-shrink: 0;
          content: '';
          border-radius: 1rem;
          display: inline-block;
          position: relative;
          left: 0;
          background-size: cover;
          background: url('@img/icons/icons.svg#checkbox') no-repeat center;
        }
      }

      input[type='radio'] {
        @include sizes(0, 0);
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
      }

      input[type='radio']:checked + label:before {
        background-position: 50% 50%;
        background-size: 2.4rem 2.4rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('@img/icons/icons.svg#checkbox-active');
      }
    }
    // &__item {
    // 	padding: 1rem;

    // 	input[type='checkbox'] {
    // 			@include sizes(0, 0);
    // 			position: absolute;
    // 			z-index: -1;
    // 			opacity: 0;
    // 			display: block;
    // 		}

    // 		input[type='checkbox']:checked+label:before {
    // 			background-position: 50% 50%;
    // 			background-size: 4.8rem 4.8rem;
    // 			background-repeat: no-repeat;
    // 			background-size: cover;
    // 			background-image: url('@img/icons/icons.svg#checkbox-active');
    // 		}

    // 	label {
    // 			font-size: 3rem;
    // 			font-weight: 400;
    // 			line-height: 120%;
    // 							display: flex;
    // 								align-items: center;
    // 								column-gap: 1rem;

    // 			&::before {
    // 					@include sizes(4.8rem, 4.8rem);
    // 					flex-shrink: 0;
    // 					content: '';
    // 					border-radius: 0.5rem;
    // 					display: inline-block;
    // 					position: relative;
    // 					left: 0;
    // 					background-size: cover;
    // 					background: url('@img/icons/icons.svg#checkbox') no-repeat center;
    // 				}
    // 	}
    // }
  }
}
