.textarea {
  @extend %flexCenterStart;
  align-items: flex-start;
  border-radius: 3.8rem;
  background: $white;
  column-gap: 1rem;
  border: 0.1rem solid transparent;
  padding: 2.2rem 2rem 2.2rem 3rem;

  textarea {
    @extend %textBold18;
    padding-right: 1.5rem;
    width: 94%;
    border: 0;
    flex-shrink: 0;
    resize: none;

    &::placeholder {
      color: $grey;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 48em) {
  .textarea {
    @include sizes();
    border-radius: 4rem;
    column-gap: 0.8rem;
    padding: 2.3rem 4rem;
    justify-content: flex-start;

    img {
      @include sizes(4.8rem, 4.8rem);
    }

    .icon {
      margin-top: -1rem;
    }

    textarea {
      width: 90%;
      font-size: 3rem;
    }
  }
}
