@import './swiper.scss';
@import './general/consts.scss';

@import './normalize.scss';
@import './set.scss';
@import './fonts.scss';

@import './general/elements.scss';

@import './blocks/btns.scss';
@import './blocks/phones.scss';
@import './blocks/region.scss';
@import './blocks/card.scss';

@import './templates/header.scss';
@import './templates/footer.scss';

@import './pages/main/index.scss';
@import './pages/main/boards-swiper.scss';
